/*!
 * # Data 4 America - Main Styles
 *
 * Copyright 2015 Data4America.org
 */

/*******************************
            Theme
*******************************/

@type    : 'global';
@element : 'site';

@import (multiple) 'semantic/theme.config';

html, body {
  background: #FAFAFA;
}

@import "donate.less";
@import "article.less";
@import "sponsorship.less";

/*-------------------
      FONTS
--------------------*/

@font-face {
  font-family: 'Trasandina';
  src: url('/fonts/TrasandinaRegular.otf') format("opentype");
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-decoration: inherit;
  text-transform: none;
}

@font-face {
  font-family: 'Trasandina';
  src: url('/fonts/TrasandinaRegular-Italic.otf') format("opentype");
  font-style: italic;
  font-weight: normal;
  font-variant: normal;
  text-decoration: inherit;
  text-transform: none;
}

@font-face {
  font-family: 'Trasandina';
  src: url('/fonts/TrasandinaBold.otf') format("opentype");
  font-style: normal;
  font-weight: bold;
  font-variant: normal;
  text-decoration: inherit;
  text-transform: none;
}

@font-face {
  font-family: 'Trasandina';
  src: url('/fonts/TrasandinaBold-Italic.otf') format("opentype");
  font-style: italic;
  font-weight: bold;
  font-variant: normal;
  text-decoration: inherit;
  text-transform: none;
}

/*-------------------
     TEXT STYLE
--------------------*/
.d4a {
  .f { font-style: italic; }
}

.dfa-text {
  font-family: 'Trasandina';
  color: #002768;

  .f {
    font-style: italic;
    color: #CC0001;
  }
}

/*-------------------
      MAIN HEADER
--------------------*/
header {
  background: #FAFAFA;
}

#dfa-header {
  background: #333;
  background-size: 900px;
  border-radius: 0;
  margin: 0;
  display:none;
  z-index: 1001;
  box-shadow: 0 4px 8px #777;
  font-family: 'Trasandina';
}

#dfa-header.ui.menu .item {
  padding: 0.2em 0.8em;
  font-size: 1.1em;
  font-weight: bold;
  background-color: #CF1A1A;
}

#dfa-header.ui.menu .item:focus,
 #dfa-header.ui.menu .item:active {
   outline: none;
}

#dfa-header.ui.inverted.menu a.item:hover {
  background: #133671 !important;
  color: #ffffff;
}

@media only screen and (max-width: @largestMobileScreen) {
  #dfa-header {
    background-color: #CF1A1A;
  }

  #dfa-header.ui.menu .item {
    padding: 0.4em 0.65em;
    font-size: 0.95em;
  }
}

#dfa-header.ui.menu .item.dfa-header-title,
  #dfa-header.ui.menu .item.dfa-header-article-share {
  font-family: 'Lato';
  background: none;
  font-style: italic;
  font-weight: 300;
}

#dfa-header.ui.inverted.menu a.dfa-header-article-share.item:hover {
  background: #555;
  color: #ffffff;
}

#dfa-header.ui.menu .item .button {
  font-size: 0.8em;
  padding: 0.2em 0.9em 0.1em;
  line-height: 1.55em;
  width: 5.8em;
}

#dfa-header.ui.menu .item.logo {
  background: #ddd;
}

#dfa-header .item.logo a {
  background: url(/img/logo-256.png) center center;
  display: inline-block;
  background-size: 60px 60px;
  height: 40px;
  width: 60px;
}

#dfa-header.ui.menu .ui.dropdown .menu {
  z-index:104;
  width: 312px;
  font-size: 1.4em;
  background-color: #333;
}

#dfa-header.ui.menu .ui.dropdown .menu .donate {
  background-color: @red !important;
  font-weight: 700 !important;
}

#dfa-header.ui.menu .ui.dropdown .sidebar.icon {
  font-size: 1em;
  margin-left: 0.3em;
  line-height: 0.9em;
}

#dfa-header.ui.menu .ui.dropdown .menu .item {
  color: #fff !important;
  border-bottom: 1px solid #4A4A4A;
}

/* Mobile */
@media only screen and (max-width: @largestMobileScreen) {

  #dfa-header .ui.button {
    padding-left: .7em;
    padding-right: .7em;
  }

  #dfa-header .item.logo a {
    background-size: 54px 54px;
    height: 33px;
    width: 54px;
  }
}

#dfa-menu,
 #dfa-menu-footer {
  z-index: 1;
  border-radius: 0;
  border: none;
  background: none;
  box-shadow: none;
  margin: 0em 0 1em;
  font-size:1.2em;

  .ui.container {
    width: 855px;
  }

  .item:before {
    background: none;
  }

  .item {
    border: 0;
    font-size:0.8em;
    padding: 0.3em 0;
    color: #002864;
  }

  .item:hover {
    background: #002864;
    color:@white;
  }

  .dropdown .menu {
    min-width: 250px;
    font-size: 1.1em;
  }

  @media only screen and (max-width: @largestMobileScreen) {
    .dropdown .menu {
      font-size: 1.3em;
    }
  }

}

#dfa-slogan {
  color: @grey;
  text-align: center;
  font-size: 1.8em;
  font-style: italic;
  font-weight: 300;
  margin: 1em 0 0.7em 1.8em;
}

@media only screen and (max-width: @largestMobileScreen) {
  #dfa-slogan {
    font-size: 1em;
    margin: 1em 0;
  }
}

#dfa-menu-footer {
  margin-left: 0;
  margin-top: 20px;
  font-size: 0.9em;
  text-align: center;
}

#dfa-menu-footer ul {
  margin: 0;
  padding: 0;
}

#dfa-menu-footer li {
  display: inline-block;
  margin-left: 10px;
  text-transform: uppercase;
  padding: 0.4em 0;
}

#dfa-menu-footer li a {
  color: #7c7d7e;
}

#dfa-logo-footer {
  background: url(/img/logo-256.png) center center;
  display: inline-block;
  background-size: 100px 100px;
  height: 64px;
  width: 100px;
  display: block;
  margin: 0 auto;
}

/*-------------------
    COVER
--------------------*/
#dfa-cover {
  height: 340px;
  background: url(/img/cover.jpg) center center;
  background-size: cover;
  cursor: pointer;
  display:block;
  -webkit-print-color-adjust: exact;
}

@media only screen and (max-width: @largestMobileScreen) {
  #dfa-cover {
    height: 190px;
    background-size: 150%;
  }
}

/*-------------------
    SIDEBAR
--------------------*/

.dfa-sidebar-tap {
  background: @red;
  transform: rotate(-90deg) !important;
  display: inline-block;
  position: fixed;
  left: -37px;
  top: 320px;
  color: #fff;
  padding: .4em 1em .4em;
  border-radius: 0 0 4px 4px;
  cursor: pointer;
  z-index: 2;
}

@media only screen and (max-width: @largestMobileScreen) {
  .dfa-sidebar-tap {
    top: 120px;
  }
}

.ui.sidebar .dfa-sidebar-tap {
  left: initial;
  right: -42px;
  border-radius: 5px 5px 0 0;
  width: 7.4em;
  position: absolute;
}

#dfa-sidebar .item {
  margin-right: 2.2em;
  margin-left: 1em;
  border: none;
  padding: 0.4em 0.3em 0.4em 0;
}

#dfa-sidebar .item.note {
  color: @red;
  font-size: 0.8em;
}

#dfa-sidebar .item:before {
  background: none;
}

#dfa-sidebar .ui.card {
  width: 100%;
}

#dfa-sidebar .ui.card .meta {
  padding-top: 0.5em;
}

#dfa-sidebar .ui.card .ui.image.floated {
  margin-bottom: 0;
}

#dfa-sidebar-border {
  position: absolute;
  right: 0;
  border-right: 4px solid @red;
}

/*-------------------
    CONTENT
--------------------*/

#dfa-content {
  padding: 0 0 20px;
  background: #FAFAFA;
}

#dfa-content p {
  line-height: 2em;
  font-size: 1.2em;
  font-weight: 300;
}

@media only screen and (max-width: @largestMobileScreen) {
  #dfa-content p {
    word-break: break-word;
  }
}

#dfa-content .ui.statistic .label,
#dfa-embed .ui.statistic .label {
  text-align: left;
  font-size: 0.8em;
  padding-bottom: 0.5em;
}

#dfa-content .ui.statistic .value,
#dfa-embed .ui.statistic .value {
  font-size:1.8rem;
}

#dfa-content .ui.statistic .value img,
#dfa-embed .ui.statistic .value img {
  vertical-align: middle;
}

#dfa-content .ui.container {
  position: relative;
}

@media only screen and (max-width: @largestMobileScreen) {
  #dfa-content .ui.container {
    position: relative;
    z-index: 0;
    margin: 1em 0 !important;
  }

  #dfa-content .ui.statistic .label,
  #dfa-embed .ui.statistic .label {
    text-align: center;
  }

  #dfa-content .ui.statistic .value img,
  #dfa-embed .ui.statistic .value img {
    display:block;
    margin: 0 auto 0.4em;
  }
}

hr {
  margin: 1em 0 0.5em 0;
  box-sizing: content-box;
  height: 0;
  border: 0;
  border-top: 1px solid #eee;
}

.mini-logo {
    display: inline !important;
    height: 24px;
    width: 24px;
    margin: 0 2px;
}

.author .mini-logo {
  height: 0.9em;
  width: 0.9em;
  vertical-align: -2px;
}

/*-------------------
    EMAIL FORM
--------------------*/
#dfa-email {
  display:none;
  position: fixed;
  top: 71px;
  width: 100%;
  padding: 0.5em;
  background: @teal;
  text-align: center;
  z-index: 8;
}

@media only screen and (max-width: @largestMobileScreen) {
  #dfa-email {
    top: 51px;
  }
}

/*-------------------
    FOOTER
--------------------*/

#dfa-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0.5em;
  background: rgba(0, 0, 0, 0.7);
  border-top: 1px solid #333;
  text-align: center;
  z-index: 1002;
}

#dfa-footer .ui.header {
  color: white;
  font-size:1.2em;
  font-family: 'Trasandina';
}

#dfa-footer .ui.button {
  vertical-align: middle;
  font-size: 1.2em;
  padding: 0.45em 0.8em;
  margin-right: 0.4em;
  font-family: 'Trasandina';
}

#dfa-footer > span {
  vertical-align: middle;
}

#dfa-footer .footer-blue {
  color: #91b1ec;
}

#dfa-footer .footer-red {
  color: #C00;
}

/* Mobile */
@media only screen and (max-width: @largestMobileScreen) {
  #dfa-footer .ui.header {
    color: white;
    font-size: 0.8em;
  }
}

.icon-sms {
  display: inline-block;
  background: url(/img/sms.png);
  background-size: 100%;
  vertical-align: middle;
  margin-bottom: -5px;
  width: 17px;
  height: 18px;
  vertical-align: baseline;
}

.logo-text {
  color: #91B1EC
}

.logo-text .four {
  color: #CC0000;
  font-style: italic;
}

#dfa-donate-modal {
  width:482px;
  background:none;
}

#dfa-donate-modal .content {
  padding: 0 !important;
  background: none;
  border: none;
}

/* Mobile */
@media only screen and (max-width: @largestMobileScreen) {
  #dfa-donate-modal {
    width: auto;
  }

  #dfa-donate-modal .icon.close {
    font-size: 1.8em;
  }
}

/*-------------------
      EMBED
--------------------*/
body.embed {
  border: 1px solid #ddd;
}

#dfa-embed {
  display: flex;
  flex-direction: row;
}

#dfa-embed .side-header {
  flex: 0 0 auto;
  width: 54px;
  position: relative;
  z-index: 1;
  background: url(/img/background-small.jpg) center center;
}

#dfa-embed .slide-container {
  flex: 1 1 auto;
  min-width: 0px;
}

#dfa-embed .slide-controls .ui.menu {
  border-radius: 0;
}

#dfa-embed .slide-controls .ui.inverted.blue.menu .item:before {
  background: @blue;
}


#dfa-embed .slides {
  overflow-y: scroll;
}

#dfa-embed .slides .ui.container {
  padding: 0.5em 0;
}

#dfa-embed .slides .dfa-slide {
  display:none;
}

#dfa-embed .logo {
  background: url(/img/embed-logo.png) center center no-repeat;
  display: inline-block;
  background-size: 100%;
  height: 100%;
  width: 54px;
}

#dfa-embed-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  border-top: 1px solid #333;
  text-align: center;
  padding-left: 54px;
}

#dfa-embed-footer .note {
  color: white;
  padding: .2em 0 .3em;
}

#dfa-embed-footer .action {
  background: #002868;
  color: white;
  padding: 0.2em;
}

#dfa-embed-footer a {
  color: white;
}

#dfa-embed-footer .saperator {
  padding: 0 0.6em;
}

/*-------------------
      TEAM GRID
--------------------*/
.dfa-team-grid img {
  margin: 0 auto 0.8em;
}

.dfa-team-grid h2.header {
  margin-bottom: 0;
}

.dfa-team h1, .dfa-about h1, .dfa-about h2  {
  text-align: center;
}

.dfa-team-grid h4.header {
  margin: 0 0 0.4em;
}

.dfa-team-grid .description {
  font-size: 0.9em;
  color: @grey;
}

.dfa-team-grid .team-grid-links {
  line-height: 0em !important;
  margin-bottom: 0.4em;
}

.dfa-team-grid .team-grid-links a {
  margin-right: 0.3em;
}

.dfa-slide {
  display: none;
}

.slide-controls {
  text-align: center;
}

.saperator {
    padding: 0 .6em;
}


#dfa-supporters {

  .ui.horizontal.segments > .segment:nth-child(1) {
    padding: 0;
  }

  .ui.items > .item > .image:not(.ui) {
    width: 200px;
  }

  .ui.items > .item > .image + .content {
    padding-left: 0.5em;
  }

  .item .header {
    margin-top:0.5em;
    font-weight: bold;
  }

  .item .description {
    font-weight: normal;
    font-size: 0.9em;
    color:@grey;
  }

  .ui.list .item {
    font-size: 0.8em;
  }

  .divided.list > .item > .content {
    line-height: 1.8em;
  }

  @media only screen and (max-width: @largestMobileScreen) {
    .ui.items > .item > .image + .content {
      padding-left: 0.5em;
      padding-top: 0;
    }
  }

}

#dfa-sponsorship .ui.grid .column {
  cursor: pointer;
}

#dfa-menu-floating {
  position: absolute;
  right: 1em;
  top: 1em;
  font-family: 'Trasandina';

  .menu {
    background-color:#333;
  }

  .menu:after {
    width: 0.9em;
    height: 0.9em;
    box-shadow: none;
    background: #333333;
  }

  .menu > .item {
    padding: 0.8rem 1.4rem !important;
    font-size: 1.6rem;
    color: @white;
    border-bottom: 1px solid #444;
  }

  .item:hover {
    background: #133671 !important;
  }

  .item.donate {
    background: @red !important;
  }
}

#dfa-data-page {

  .ui.list {
    margin-left: 3em;
  }

  .ui.list .item {
    font-size:1.2em;
    font-weight: 200;
    line-height: 1.6em;
  }

  .ui.ordered.list > .item:before {
    margin-left: -2em;
  }

}

#dfa-policy-issue {

  h1.ui.header {
    font-size:2.3em;
  }

  h2.ui.header {

    font-family: 'Trasandina';
    font-size:2em;

    .blue { color: @blue; }

    .red { color: @red; }
  }

  .ui.statistics {
    .statistic {
      margin-bottom: 0;
    }

    .value {
      font-size: 1.8rem;
    }

    .label {
      text-align: left;
    }
  }

  .ui.horizontal.list {
    margin: 0;

    .ui.avatar.image {
      width: 4em;
      height: 4em;
    }

    .item a { font-size: 0.8em; }
  }

  .ui.horizontal.list > .item > img.image + .content {
    padding-left: 0.1em;
  }

  .ui.bulleted.list {

    .item {
      word-wrap: break-word;
      font-size: 1em;
      line-height: 1.6em;
    }
  }

  .reward .grid {
    position: relative;
  }

  .reward .column {
    text-align: center;
  }

  .reward .ui.statistic .value {
    font-size: 1.8em;
    font-weight: bolder;
    margin-bottom: 0.3em;
  }

  .reward .ui.statistic .label {
    font-size: 0.8em;
    font-weight: normal;
  }

  .note {
    font-size: 0.8em;
    line-height: 1.4em;
    color: @grey;
    margin: 1em 0 0;
  }

  .ui.styled.accordion {
    background: rgb(231,238,247);
  }

  .ui.segment {
    -webkit-print-color-adjust: exact;
  }

  .ui.button {
    -webkit-print-color-adjust: exact;
  }

  @media only screen and (max-width: @largestMobileScreen) {
    .ui.segment.sponsor .ui.list .header { display: inline; }
  }

}

.dfa-share .button {
  -webkit-print-color-adjust: exact;
}

#dfa-policy-issues {
  .ui.segment.dfa-table {
    padding: 0;
  }

  .ui.table {
    border: none;

    td.issue-title {
      width:50%;
    }

    tr.category td {
      font-size: 0.8em;
      font-weight: bold;
      text-transform: uppercase;
      padding: 0.4em;
      background-color: #F9FAFB;
    }

    td.sponsors {
      width: 30%;
    }

    .saperator { padding: 0 0.4em 0 0.15em; color:@grey; }
    .say-thanks { font-size: 0.8em; }

    .ui.list {
      margin-top:0;
    }

    .ui.list > .item > img.image + .content {
      padding-left: 0.5em;
    }

    .ui.list > .item {
      padding:0.5em 0;
      display: table-row;
    }

    .ui.list > .item .content {
      display: table-cell;
    }

    .ui.list > .item > img.image {
      display: table-cell;
      border-radius: 5px;
    }

    .ui.list > .item .header {
      font-size:0.9em;
    }

  }

  .ui.header.mobile {
    display: none;
  }

  @media only screen and (max-width: @largestMobileScreen) {
    .ui.table thead { display: none; }

    .ui.header.mobile {
      display: block;
      margin-top: 0.5em;
      margin-bottom: 0;
      color: @grey;
      font-size: 0.6em;
      font-weight: normal;
    }

    .ui.table .ui.list {
      margin-top:0.5em;
    }

    .ui.table tr.category {
      padding:0;
    }
  }

}

@media print {
  #dfa-menu-floating { display:none; }
  #dfa-footer { display:none; }
  #dfa-menu { display:none; }
  #dfa-header { display:none !important; }
}


#dfa-coalitions {

  .ui.bulleted.list {

    .item {
      word-wrap: break-word;
      font-size: 1em;
      line-height: 1.6em;
      font-weight: lighter;
    }
  }

}

#dfa-unplugged {
  margin: 2em 0;

  .podcast {
    text-align: center;
    border-bottom: 1px solid rgba(204, 204, 204, 0.31);
    padding: 1em 0 2em;

    a.image img {
      width: 450px;
      height: 450px;
      border-radius: 5px;
      box-shadow: 0 0 6px #989595;
    }

    .title {
      font-weight: 200;
      margin-top: 0.5em;
      font-size: 1.5em;
    }

    .sub-title {
      font-weight: 200;
      margin-top: 0;
      margin-bottom: 1.4em;
    }

    p {
      font-size: 1em;
      margin-bottom: 1.4em;
    }

    .space {
      margin: 0 0.5em;
      color: #7B7B7B;
    }

    .more-link a {
      color: #CF1A1A;
    }

    .links {
      font-size: 0.95em;

      a:hover {
        text-decoration: underline;
      }

      &.hidden {
        display: none;
      }
    }

    .approved-by {
      display:none;
      background: #FFF1EA;
      padding: 0.5em;
      border-radius: 4px;
      font-size: 0.6em;
    }

    .embed {
      margin-top: 0.9em;
    }

    @media only screen and (max-width: @largestMobileScreen) {
      a.image img {
        width: 90%;
        height: 90%;
      }

      p {
        font-size: 1.1em;
        padding: 0 0.5em;
        text-align: left;
      }

      p.media {
        text-align: center;
      }

      .links {
        font-size: 1em;
        text-align: left;
        padding: 1em 1em 1em 2.2em;

        .icon {
          margin-left: -1.6em;
          width: 1.4em;
        }

        .space {
          height: 1px;
          overflow:hidden;
          display:block;
        }
      }
    }
  }

}

#dfa-unplugged-header {
  padding: 2em 0;
  border-bottom: 1px solid #ccc;

  @media only screen and (max-width: @largestMobileScreen) {
    font-size: 0.8em;

    .ui.header {
      font-size: 1.8em;
    }
  }
}

#dfa-unplugged-player {
  position: fixed;
  bottom: 0;
  padding: 0.5em 0;
  z-index: 100;
  width: 100%;
  background: #fff;
  border-top: 1px solid #666;
  display:none;
  left: 0;
  z-index: 1004;

  .avatar {
    border-radius: 3px;
  }

  .lf-play, .lf-pause {
    display: none;
    cursor: pointer;
  }

  .progress-bar {
    height: 32px;
    position: relative;

    .bar {
      cursor: pointer;
      height: 5px;
      background: #999;
      border-radius: 5px;
      width: 100%;
      position: absolute;
      top: 50%;
      margin-top: -3px;
    }

    .progress {
      height: 100%;
      position: absolute;
      width: 0;
      background: #B5CC18;
      border-radius: 5px;
    }
  }

  .controls {
    line-height: 2em;
    text-align: right;

    .icon {
      margin-right: 0;
    }

    .loading.icon {
      right: 0;
      left: inherit;
    }
  }

  .time {
    font-size: 1.3em;
    line-height: 1.7em;
    font-weight: bold;
  }

  @media only screen and (max-width: @largestMobileScreen) {
    bottom: 38px;
    padding: 0.5em;

    .avatar {
      display: none;
    }

    .ui.container {
      margin: 0 !important;
    }
  }
}

#pgx {
  margin: 2em auto;

  .ui.header {
    margin: 2em 0;
  }

  .ui.header.title {
    font-size: 2.6em;
    margin: 1em 0;
  }

  @media only screen and (max-width: @largestMobileScreen) {
    .ui.list > .item > .icon + .content {
      line-height: 1.4em;
      font-size: 1.1em;
    }

    .ui.header {
      margin: 1em 0;
    }
  }
}

#pgx-hiw {
  margin: 0;

  .steps {
    display:flex;
  }

  .steps > .step {
    width: 18.5%;
    position: relative;
  }

  .steps > .step.end {
    width: 3.5%;
  }

  .line {
    height: 100px;
    width: 10px;
    position: absolute;
    background: #3E7BC7;
    top: 0;
  }

  .line.left {
    left: 0;
  }

  .line.right {
    right: 0;
  }

  .line-through {
    width: 100%;
    position: absolute;
    height: 10px;
    background: #3E7BC7;
    top: 45px;
  }

  .circle {
    position: relative;
    width: 100px;
    height: 100px;
    text-align: center;
    border-radius: 1000px;
    background: #3E7BC7;
    line-height: 100px;
    font-size: 3em;
    color: #fff;
    margin: 0 auto;
  }

  .text {
    padding: 0.5em;
    font-size: 1.25em;
    line-height: 1.2em;
  }

  @media only screen and (max-width: @largestMobileScreen) {
    margin: 0 0.5em;

    .steps {
      flex-direction: column;
    }

    .steps > .step, .steps > .step.end {
      width: 100%;
    }

    .steps > .step.end {
      height: 20px;
    }

    .line-through {
      width: 10px;
      position: absolute;
      height: 100%;
      top: 0;
      left: 50%;
      margin-left: -5px;
    }

    .line {
      height: 5px;
      width: 100%;
    }

    .line.left {
      left: inherit;
      top: 0;
    }

    .line.right {
      right: inherit;
      bottom: 0;
      top: inherit;
    }

    .text {
      background: #fff;
      position: relative;
      margin: 0.1em 0 2em;
      border: 1px solid #3E7BC7;
      border-radius: 5px;
      font-size: 1.4em;
    }

  }

}

#dfa-event {

  .cover {
    height: 336px;
    background: url(/img/conference-room-min.jpg) no-repeat;
    background-position: 0 -348px;
    background-size: 100%;
    margin: 0 0 1em;
    border-radius: 5px;
    position: relative;

    @media only screen and (max-width: @largestMobileScreen) {
      background-size: 150%;
      background-position: 0;
    }
  }

  .cover .text {
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width:100%;
    left: 0;
    bottom: 0;
    border-radius: 0 0 5px 5px;
    font-size: 2.6em;
  }

  .cover .text .header {
    margin: 20px;
    text-shadow: 0 0 6px #000;
  }

  .ui.top.attached.header {
    background: #efefef;
    border-bottom: 1px solid #ddd;
  }

  p {
    line-height: 1.75em;
    font-size: 1em;
  }


  .organizers .image {
    margin: 0 auto 0.5em;
  }

  .disclaimer {
    font-size: 0.9em;
    font-style: italic;
    margin: 3em 0 1em;
    line-height: 1.8em;
    color: #999;
  }

  .address p, .address .header {
    font-size: 1.2em;
    margin: 0.2em 0;
  }

  .time {
    font-size: 1.2em;
    margin: 1em 0;
  }

}


