/*!
 * # Data 4 America - Main Styles
 *
 * Copyright 2015 Data4America.org
 */

/*******************************
            Theme
*******************************/

@type    : 'global';
@element : 'site';

@import (multiple) 'semantic/theme.config';

html, body, header {
  background: #f1f1f1;
}

@import "donate.less";
@import "article.less";
@import "sponsorship.less";
@import "slick.less";
@import "slick-theme.less";

/*-------------------
      FONTS
--------------------*/

@font-face {
  font-family: 'Trasandina';
  src: url('/fonts/TrasandinaRegular.otf') format("opentype");
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-decoration: inherit;
  text-transform: none;
}

@font-face {
  font-family: 'Trasandina';
  src: url('/fonts/TrasandinaRegular-Italic.otf') format("opentype");
  font-style: italic;
  font-weight: normal;
  font-variant: normal;
  text-decoration: inherit;
  text-transform: none;
}

@font-face {
  font-family: 'Trasandina';
  src: url('/fonts/TrasandinaBold.otf') format("opentype");
  font-style: normal;
  font-weight: bold;
  font-variant: normal;
  text-decoration: inherit;
  text-transform: none;
}

@font-face {
  font-family: 'Trasandina';
  src: url('/fonts/TrasandinaBold-Italic.otf') format("opentype");
  font-style: italic;
  font-weight: bold;
  font-variant: normal;
  text-decoration: inherit;
  text-transform: none;
}

/*-------------------
     TEXT STYLE
--------------------*/
.d4a {
  .f { font-style: italic; }
}

.dfa-text {
  font-family: 'Trasandina';
  color: #002768;

  .f {
    font-style: italic;
    color: #CC0001;
  }
}

/*-------------------
     on lock
--------------------*/
.locked {
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

/*-------------------
     email wall
--------------------*/
#transcript-section {
  position:relative;

  .wall {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
  }

  &.two {
    padding: 0 1em;
  }

  p { padding: 0 0 0.5em 0 !important; }

  .section-toc .content {
    text-align: left;
    line-height: 1.5em;

    a {
      color: #333;
    }
  }

  .section-heading {
    display: block;
    border-top: 6px solid #cf1a1a;
    padding: 1em 0;
    margin-top: 1em;
    text-align: left;
    font-style: italic;
  }
}

#dfa-press {
  .ui.vertical.menu {
    width:100%;
  }
  .ui.tab.segment {
    padding-top:0px;
    margin:0px;
    border: 0px;
    box-shadow:none;
    .header {
      color: #0096DB;
    }
  }
  .ui.items {
    margin-top:0px;
    .ui.small.image {
      margin-bottom:1em;
    }
    p.ui.header {
      line-height:1;
      font-size:2.5em;
      margin-bottom:0.3em;
    }
  }
}

#dfa-email-wall {
  position: absolute;
  width:100%;
  z-index:1;

  // .overlay {
  //   position: absolute;
  //   width: 100%;
  //   height: 100%;
  //   top: 0;
  //   left: 0;
  //   z-index: 1;
  // }

  .ui.segment {
    border: none;
    box-shadow: 1px 1px 10px #103658;
    border-radius: 0;
    padding: 0;
    position: relative;
    z-index:2;
  }


  .ui.middle.aligned.grid > .eight.wide.column .lifemap {
    @media only screen and (max-width: @largestMobileScreen) {
      width:100% !important;
      .font {
        font-size: 2.5em !important;
        line-height: 1.2em;
      }
    }
  }

  .ui.segment > .header {
    background: #051e35;
    margin: -0.5em -0.5em 0 -0.5em;
    border: none;
    padding: 0;
    color: #fff;
    box-shadow: 0 0 5px #103658;
    position: relative;

    .lifemap {
      width: auto;
      display: none;
    }


    .text {
      font-size:0.9em;
      padding: 0.5em 0;
      background-color: #CF1A1A;
    }
  }

  .ui.segment > .header::before {
    left: -1px;
    border-width: 15px 0 0 15px;
    content: "";
    position: absolute;
    display: block;
    border-style: solid;
    border-color: #b80000 transparent transparent transparent;
    bottom: -15px;
    visibility: visible;
  }

  .ui.segment > .header::after {
    right: -1px;
    border-width: 15px 15px 0 0px;
    content: "";
    position: absolute;
    display: block;
    border-style: solid;
    border-color: #b80000 transparent transparent transparent;
    bottom: -15px;
    visibility: visible;
  }

  h1.mobile {
    display:none;
  }

  .grid > .column > .lifemap {
    width: 300px;

    .bar {
      height: 10px;
    }

    .bar > div { height: 10px; }

    .font {
      font-size: 3em;
    }
  }

  .ui.segment > .ui.grid {
    margin: 1em;
  }

  .ui.grid {
    min-height: 240px;
  }

  .close {
    width: 50px;
    height: 50px;
    position: absolute;
    top: -22px;
    right: -40px;
    background: #000;
    font-size: 22px;
    line-height: 46px;
    border-radius: 100px;
    text-align: center;
    cursor: pointer;
    z-index: 3;

    &:hover {
      background: #c40606;
    }

    .icon {
      color: #fff;
      font-size: 2em;
      margin: 0;
    }
  }

  .note {
    margin-top: 0.5em;
    font-size: 0.7em;
  }

  .footer {
    display: block;
    padding: 0.8em 0;
    background: #c40606;
    color: #fff;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 0.95em;
    position: absolute;
    bottom: -46px;
    width: 300px;
    left: 50%;
    margin-left: -150px;
    border-radius: 0 0 5px 5px;
    box-shadow: 1px 2px 2px #12416b;
  }

  @media only screen and (max-width: @largestMobileScreen) {
    margin: 0px 0.7em;

    // .ui.segment > .header {
    //   display:none;
    // }
    //
    // h1.mobile {
    //   display:block;
    //   font-size: 2em;
    //   line-height: 1.4em;
    // }
    .ui.segment > .header {

      .text {
        font-size: 1.6rem;
        padding:0.5em 2em;
      }
    }

    .footer {
      width: 280px;
      height: 50px;
      bottom: -50px;
      margin-left: -140px;
    }

    .ui.segment > .ui.grid {
      margin: 0;
    }

    .close {
      top: -21px;
      right: -20px;
      height: 40px;
      width: 40px;
      font-size: 1em;
      box-shadow: 1px 2px 5px #333;
      .icon {
        margin-top: -0.1em;
      }
    }

  }

}

/*-------------------
      MAIN HEADER
--------------------*/

.dfa-slider {
  background-color:#000000;
  margin-bottom:4em;
  .dfa-slider-image {
    background-size: contain;
    background-position: center;
    height: 500px;
    background-repeat: no-repeat;
  }
  button {
    height:40px;
    width:40px;
  }
  button.slick-prev {
    left: 10px;
    z-index: 10;
  }
  button.slick-next {
    right: 10px;
    z-index: 10;
  }
  button.slick-prev:before {
    font-size: 40px;
  }
  button.slick-next:before {
    font-size: 40px;
  }
  @media only screen and (max-width: @largestMobileScreen) {
    .dfa-slider-image {
      height: 240px;
    }
  }
}

#fixed-share-btn {
  text-align: center;
  z-index: 100;
  position:fixed;
  right:0px;
  bottom:30%;
  margin:0px;
  display: none;
  font-size: 1.7em;
  width:150px;

  .fixed-btn {
    float: right;
    background:#CF1A1A;
    border-radius: 5px 0 0 5px;
    padding: 0.6em;
    margin:0px;
    i {
      margin: 0px;
      color: #fff;
    }
    .ui.header {
      font-size:1em !important;
    }
  }
  @media only screen and (max-width: @largestMobileScreen) {
    bottom:50%;
    .fixed-btn {
      font-size: 1rem;
    }
  }
}


#fixed-share-btn .fixed-btn:hover {
  background :#b80000;
}


#dfa-header {
  background: #333;
  background-size: 900px;
  border-radius: 0;
  margin: 0;
  display:none;
  z-index: 1001;
  box-shadow: 0 4px 8px #777;
  font-family: 'Trasandina';
}

#dfa-header.ui.menu .item {
  padding: 0.2em 0.8em;
  font-size: 1.1em;
  font-weight: bold;
  background-color: #CF1A1A;
}

#dfa-header.ui.menu .item:focus,
 #dfa-header.ui.menu .item:active {
   outline: none;
}

#dfa-header.ui.inverted.menu a.item:hover {
  background: #133671 !important;
  color: #ffffff;
}

@media only screen and (max-width: @largestMobileScreen) {
  #dfa-header {
    background-color: #CF1A1A;
  }

  #dfa-header.ui.menu .item {
    padding: 0.4em 0.65em;
    font-size: 0.95em;
  }
}

#dfa-header.ui.menu .item.dfa-header-title,
  #dfa-header.ui.menu .item.dfa-header-article-share {
  font-family: 'Lato';
  background: none;
  font-style: italic;
  font-weight: 300;
}

#dfa-header.ui.inverted.menu a.dfa-header-article-share.item:hover {
  background: #555;
  color: #ffffff;
}

#dfa-header.ui.menu .item .button {
  font-size: 0.8em;
  padding: 0.2em 0.9em 0.1em;
  line-height: 1.55em;
  width: 5.8em;
}

#dfa-header.ui.menu .item.logo {
  background: #ddd;
}

#dfa-header .item.logo a {
  background: url(/img/logo-256.png) center center;
  display: inline-block;
  background-size: 60px 60px;
  height: 40px;
  width: 60px;
}

#dfa-header.ui.menu .ui.dropdown .menu {
  z-index:104;
  width: 312px;
  font-size: 1.4em;
  background-color: #333;
}

#dfa-header.ui.menu .ui.dropdown .menu .donate {
  background-color: @red !important;
  font-weight: 700 !important;
}

#dfa-header.ui.menu .ui.dropdown .sidebar.icon {
  font-size: 1em;
  margin-left: 0.3em;
  line-height: 0.9em;
}

#dfa-header.ui.menu .ui.dropdown .menu .item {
  color: #fff !important;
  border-bottom: 1px solid #4A4A4A;
}

/* Mobile */
@media only screen and (max-width: @largestMobileScreen) {

  #dfa-header .ui.button {
    padding-left: .7em;
    padding-right: .7em;
  }

  #dfa-header .item.logo a {
    background-size: 54px 54px;
    height: 33px;
    width: 54px;
  }
}

#dfa-as-seen-in {
  border-top:1px solid #e1e1e1;
  position:relative;
  margin:3em 0px 6em;
  .as-seen-in-header {
    position: absolute;
    top: -21px;
    text-align: center;
    width:100%;
    p {
      background-color: #f1f1f1;
      color: #948e8e;
      line-height: 2em;
      font-size: 1.2em;
      padding: 0 1em;
      display: inline-block;
      font-weight: 100;
    }
  }

  img {
    width:60%;
    display: block;
    margin:0 auto;
  }

  .column {
    padding-left: 0px;
    padding-right: 0px;
    a {
      cursor:pointer;
    }
  }

  .column.facebook-live img {
    width:100px;
  }

  .column.huffington-post img {
    width:110px;
  }

  .ui.three.column.grid {
    margin:1em -3em;
  }

  @media only screen and (max-width: @largestMobileScreen) {
    .ui.three.column.grid {
      margin:1em 0em !important;
    }
  }
}

#dfa-logo-footer {
  background: url(/img/logo-256.png) center center;
  display: inline-block;
  background-size: 100px 100px;
  height: 64px;
  width: 100px;
  display: block;
  margin: 2em auto;
}

/*-------------------
    MASTHEAD
--------------------*/
#masthead {
  background: url(/img/bg.jpg) center center;
  background-size: 60%;
  border-bottom: 1px solid #c1c0c0;

  & > .menu {
    margin-bottom: 0;


    .item {
      font-weight: 700;
      height: 74px;
      border-radius: 0;
      text-transform: uppercase;
      font-family: 'Trasandina';
      font-size: 1.12em;
    }

    .item.logo {
      padding: 0.2em;
      img { width: auto; height: 100%; }
    }
  }

  & > .menu.mobile {
    display: none;
    width: 100%;
    margin: 0;

    .item { height: 60px; }
    .content.icon { font-size: 2.4em; margin-right: 0; }
  }

  .nav-mob {
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    background: #333;
    color: #fff;
    z-index: 400;
  }

  @media only screen and (max-width: @largestMobileScreen) {
    background-size: 150%;

    & > .menu {
      display:none;
    }

    & > .menu.mobile {
      display: flex;
      justify-content: space-between;
    }
  }
}

/*-------------------
    SIDEBAR
--------------------*/

.dfa-sidebar-tap {
  background: @red;
  transform: rotate(-90deg) !important;
  display: inline-block;
  position: fixed;
  left: -37px;
  top: 320px;
  color: #fff;
  padding: .4em 1em .4em;
  border-radius: 0 0 4px 4px;
  cursor: pointer;
  z-index: 2;
}

@media only screen and (max-width: @largestMobileScreen) {
  .dfa-sidebar-tap {
    top: 120px;
  }
}

.ui.sidebar .dfa-sidebar-tap {
  left: initial;
  right: -42px;
  border-radius: 5px 5px 0 0;
  width: 7.4em;
  position: absolute;
}

#dfa-sidebar .item {
  margin-right: 2.2em;
  margin-left: 1em;
  border: none;
  padding: 0.4em 0.3em 0.4em 0;
}

#dfa-sidebar .item.note {
  color: @red;
  font-size: 0.8em;
}

#dfa-sidebar .item:before {
  background: none;
}

#dfa-sidebar .ui.card {
  width: 100%;
}

#dfa-sidebar .ui.card .meta {
  padding-top: 0.5em;
}

#dfa-sidebar .ui.card .ui.image.floated {
  margin-bottom: 0;
}

#dfa-sidebar-border {
  position: absolute;
  right: 0;
  border-right: 4px solid @red;
}

/*-------------------
    CONTENT
--------------------*/

#dfa-content {
  padding: 0 0 20px;
}

.dfa-feed {

  .dfa-feed-item {
    background: white;

    .item-link {
      display: block;
      height: 100%;
      background-color: #fff;
      color: #004f81;

    }

    .item-image {
      display: block;
      position: relative;
      overflow: hidden;
      padding-bottom: 70%;
      background-color: #263640;
      height: 0;

      img {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0) scale(0.9);
        width: 113%;
        opacity: 1;
        transition-property: all;
        transition-duration: .25s;
        transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
        transition-delay: 0s;
      }

    }

    .item-meta {
      position: relative;
      margin: 0 auto;
      padding: 26px 30px 0px;
      background-color: #fff;
      transform: translate3d(0, 0, 0);
      transition-property: all;
      transition-duration: .33s;
      transition-timing-function: cubic-bezier(0.08, 0.82, 0.165, 1);
      transition-delay: 0s;
    }

    .item-meta::before {
      position: absolute;
      top: -2px;
      left: 0;
      content: '';
      width: 100%;
      height: 5px;
      background-color: #004f81;
    }

    .item-title {
      color: #004f81;
    }

    .item-text {
      font-size: 1.1em;
      line-height: 1.45;
      text-overflow: ellipsis;
      -webkit-line-clamp: 3;
      height: 4.3em;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      color: #333;
      font-weight: 200;
      overflow: hidden;
    }

    .item-details {
      margin: 0 auto;
      width: 86%;
      background-color: #fff;
      overflow: hidden;
      text-transform: uppercase;
    }

    .item-bottom {
      display: inline-block;
      position: relative;
      margin-top: 14px;
      width: 100%;
      border-top: 4px solid #f1f1f1;
    }

    .item-bottom::before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: -4px;
      transform: translate3d(-120%, 0, 0);
      background-color: #004f81;
      transition-property: all;
      transition-duration: .15s;
      transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
      transition-delay: 0s;
      width: 100%;
      height: 4px;
    }

    .item-date {
      float: right;
      margin: 1em 0;
      color: grey;
    }

    .author {
      display: block;
      margin: 1em 0.5em;
      font-size:0.9em;

      a { color: #004f81; font-weight:bold; }
    }
  }

  .dfa-feed-item:hover {
    .item-image img {
      transform: translate3d(-50%, -55%, 0) scale(1);
    }

    .item-bottom::before {
      transform: translate3d(0, 0, 0);
    }
  }


  .dfa-feed-item.lifemap {
    .item-meta::before { background-color: #008e5c; }
    .item-bottom::before { background-color: #008e5c; }
  }

  .dfa-feed-item.podcast {
    .item-meta::before { background-color: #f28e1e; }
    .item-bottom::before { background-color: #f28e1e; }
  }

  @media only screen and (max-width: @largestMobileScreen) {
    margin: 0 1em !important;
  }
}

.dfa-article {
  background: #fff;
  margin: 1em auto;
  max-width: 800px;

  .article-header {
    padding: 5%;
    border-bottom: 4px solid #f1f1f1;
  }

  .article-title {
    font-size: 2.2em;
    line-height: 1.074;
    color: #004f81;
  }

  .article-date {
    color: grey;
  }

  .article-content {
    padding: 5%;
  }

  .article-content p {
    font-size: 1.4em;
    line-height: 1.8;
    font-weight: 200;
  }

  .article-actions {
    padding: 0 5%;
  }

  .article-comments {
    padding: 5%;
  }

  @media only screen and (max-width: @largestMobileScreen) {
    .article-header.ui.items > .item > .image {
      width: 100% !important;
      overflow: hidden;
    }

    .article-header.ui.items > .item > .image > img {
      max-height: 100% !important;
      width: 100% !important;
      margin-top: -50%;
      transform: translateY(50%);
    }

    .article-title {
      font-size: 2.4em;
      line-height: 1.4;
    }
  }
}

@media only screen and (max-width: @largestMobileScreen) {
  #dfa-content p {
    word-break: break-word;
  }
}

#dfa-content .ui.statistic .label,
#dfa-embed .ui.statistic .label {
  text-align: left;
  font-size: 0.8em;
  padding-bottom: 0.5em;
}

#dfa-content .ui.statistic .value,
#dfa-embed .ui.statistic .value {
  font-size:1.8rem;
}

#dfa-content .ui.statistic .value img,
#dfa-embed .ui.statistic .value img {
  vertical-align: middle;
}

#dfa-content .ui.container {
  position: relative;
}

@media only screen and (max-width: @largestMobileScreen) {
  #dfa-content .ui.container {
    position: relative;
    z-index: 0;
    margin: 1em 0 !important;
  }

  #dfa-content .ui.statistic .label,
  #dfa-embed .ui.statistic .label {
    text-align: center;
  }

  #dfa-content .ui.statistic .value img,
  #dfa-embed .ui.statistic .value img {
    display:block;
    margin: 0 auto 0.4em;
  }
}

hr {
  margin: 1em 0 0.5em 0;
  box-sizing: content-box;
  height: 0;
  border: 0;
  border-top: 1px solid #eee;
}

.mini-logo {
    display: inline !important;
    height: 24px;
    width: 24px;
    margin: 0 2px;
}

.author .mini-logo {
  height: 0.9em;
  width: 0.9em;
  vertical-align: -2px;
}

/*-------------------
    EMAIL FORM
--------------------*/
#dfa-email {
  display:none;
  position: fixed;
  top: 71px;
  width: 100%;
  padding: 0.5em;
  background: @teal;
  text-align: center;
  z-index: 8;
}

@media only screen and (max-width: @largestMobileScreen) {
  #dfa-email {
    top: 51px;
  }
}

/*-------------------
    FOOTER
--------------------*/

#dfa-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0.5em;
  background: rgba(0, 0, 0, 0.7);
  border-top: 1px solid #333;
  text-align: center;
  z-index: 1002;
}

#dfa-footer .ui.header {
  color: white;
  font-size:1.2em;
  font-family: 'Trasandina';
}

#dfa-footer .ui.button {
  vertical-align: middle;
  font-size: 1.2em;
  padding: 0.45em 0.8em;
  margin-right: 0.4em;
  font-family: 'Trasandina';
}

#dfa-footer > span {
  vertical-align: middle;
}

#dfa-footer .footer-blue {
  color: #91b1ec;
}

#dfa-footer .footer-red {
  color: #C00;
}

/* Mobile */
@media only screen and (max-width: @largestMobileScreen) {
  #dfa-footer .ui.header {
    color: white;
    font-size: 0.8em;
  }
}

.icon-sms {
  display: inline-block;
  background: url(/img/sms.png);
  background-size: 100%;
  vertical-align: middle;
  margin-bottom: -5px;
  width: 17px;
  height: 18px;
  vertical-align: baseline;
}

.logo-text {
  color: #91B1EC
}

.logo-text .four {
  color: #CC0000;
  font-style: italic;
}

#dfa-donate-modal {
  width:482px;
  background:none;
}

#dfa-donate-modal .content {
  padding: 0 !important;
  background: none;
  border: none;
}

/* Mobile */
@media only screen and (max-width: @largestMobileScreen) {
  #dfa-donate-modal {
    width: auto;
  }

  #dfa-donate-modal .icon.close {
    font-size: 1.8em;
  }
}

/*-------------------
      EMBED
--------------------*/
body.embed {
  border: 1px solid #ddd;
}

#dfa-embed {
  display: flex;
  flex-direction: row;
}

#dfa-embed .side-header {
  flex: 0 0 auto;
  width: 54px;
  position: relative;
  z-index: 1;
  background: url(/img/background-small.jpg) center center;
}

#dfa-embed .slide-container {
  flex: 1 1 auto;
  min-width: 0px;
}

#dfa-embed .slide-controls .ui.menu {
  border-radius: 0;
}

#dfa-embed .slide-controls .ui.inverted.blue.menu .item:before {
  background: @blue;
}


#dfa-embed .slides {
  overflow-y: scroll;
}

#dfa-embed .slides .ui.container {
  padding: 0.5em 0;
}

#dfa-embed .slides .dfa-slide {
  display:none;
}

#dfa-embed .logo {
  background: url(/img/embed-logo.png) center center no-repeat;
  display: inline-block;
  background-size: 100%;
  height: 100%;
  width: 54px;
}

#dfa-embed-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  border-top: 1px solid #333;
  text-align: center;
  padding-left: 54px;
}

#dfa-embed-footer .note {
  color: white;
  padding: .2em 0 .3em;
}

#dfa-embed-footer .action {
  background: #002868;
  color: white;
  padding: 0.2em;
}

#dfa-embed-footer a {
  color: white;
}

#dfa-embed-footer .saperator {
  padding: 0 0.6em;
}

/*-------------------
      TEAM GRID
--------------------*/
.dfa-team-grid img {
  margin: 0 auto 0.8em;
}

.dfa-team-grid h2.header {
  margin-bottom: 0;
}

.dfa-team h1, .dfa-about h1, .dfa-about h2  {
  text-align: center;
}

.dfa-team-grid h4.header {
  margin: 0 0 0.4em;
}

.dfa-team-grid .description {
  font-size: 0.9em;
  color: @grey;
}

.dfa-team-grid .team-grid-links {
  line-height: 0em !important;
  margin-bottom: 0.4em;
}

.dfa-team-grid .team-grid-links a {
  margin-right: 0.3em;
}

.dfa-slide {
  display: none;
}

.slide-controls {
  text-align: center;
}

.saperator {
    padding: 0 .6em;
}


#dfa-supporters {

  .ui.horizontal.segments > .segment:nth-child(1) {
    padding: 0;
  }

  .ui.items > .item > .image:not(.ui) {
    width: 200px;
  }

  .ui.items > .item > .image + .content {
    padding-left: 0.5em;
  }

  .item .header {
    margin-top:0.5em;
    font-weight: bold;
  }

  .item .description {
    font-weight: normal;
    font-size: 0.9em;
    color:@grey;
  }

  .ui.list .item {
    font-size: 0.8em;
  }

  .divided.list > .item > .content {
    line-height: 1.8em;
  }

  @media only screen and (max-width: @largestMobileScreen) {
    .ui.items > .item > .image + .content {
      padding-left: 0.5em;
      padding-top: 0;
    }
  }

}

#dfa-sponsorship .ui.grid .column {
  cursor: pointer;
}

#dfa-data-page {

  .ui.list {
    margin-left: 3em;
  }

  .ui.list .item {
    font-size:1.2em;
    font-weight: 200;
    line-height: 1.6em;
  }

  .ui.ordered.list > .item:before {
    margin-left: -2em;
  }

}

#dfa-policy-issue {

  h1.ui.header {
    font-size:2.3em;
  }

  h2.ui.header {

    font-family: 'Trasandina';
    font-size:2em;

    .blue { color: @blue; }

    .red { color: @red; }
  }

  .ui.statistics {
    .statistic {
      margin-bottom: 0;
    }

    .value {
      font-size: 1.8rem;
    }

    .label {
      text-align: left;
    }
  }

  .ui.horizontal.list {
    margin: 0;

    .ui.avatar.image {
      width: 4em;
      height: 4em;
    }

    .item a { font-size: 0.8em; }
  }

  .ui.horizontal.list > .item > img.image + .content {
    padding-left: 0.1em;
  }

  .ui.bulleted.list {

    .item {
      word-wrap: break-word;
      font-size: 1em;
      line-height: 1.6em;
    }
  }

  .reward .grid {
    position: relative;
  }

  .reward .column {
    text-align: center;
  }

  .reward .ui.statistic .value {
    font-size: 1.8em;
    font-weight: bolder;
    margin-bottom: 0.3em;
  }

  .reward .ui.statistic .label {
    font-size: 0.8em;
    font-weight: normal;
  }

  .note {
    font-size: 0.8em;
    line-height: 1.4em;
    color: @grey;
    margin: 1em 0 0;
  }

  .ui.styled.accordion {
    background: rgb(231,238,247);
  }

  .ui.segment {
    -webkit-print-color-adjust: exact;
  }

  .ui.button {
    -webkit-print-color-adjust: exact;
  }

  @media only screen and (max-width: @largestMobileScreen) {
    .ui.segment.sponsor .ui.list .header { display: inline; }
  }

}

// .dfa-share {
//   text-align:center;
//   .dfa-subscribe {
//     display:inline-block;
//     position:relative;
//     width:100px;
//     height:30px;
//     a.button {
//       position: absolute;
//       left: 0px;
//       line-height: 0.7;
//       top: 2px;
//     }
//   }
//   .fb-like {
//     line-height:0.8;
//     margin:0px 0.5em;
//   }
//   .twitter-follow {
//     display: inline-block;
//     margin:0px 0.5em;
//   }
//   .button {
//    -webkit-print-color-adjust: exact;
//  }
//  @media only screen and (max-width: @largestMobileScreen) {
//    .fb-like, .twitter-follow {
//      margin:0.5em 0px;
//    }
//    .dfa-subscribe {
//      display: block;
//      margin: 0 auto;
//      margin-top: -0.3em;
//      a.button {
//        position: inherit;
//      }
//    }
//  }
// }


#dfa-policy-issues {
  .ui.segment.dfa-table {
    padding: 0;
  }

  .ui.table {
    border: none;

    td.issue-title {
      width:50%;
    }

    tr.category td {
      font-size: 0.8em;
      font-weight: bold;
      text-transform: uppercase;
      padding: 0.4em;
      background-color: #F9FAFB;
    }

    td.sponsors {
      width: 30%;
    }

    .saperator { padding: 0 0.4em 0 0.15em; color:@grey; }
    .say-thanks { font-size: 0.8em; }

    .ui.list {
      margin-top:0;
    }

    .ui.list > .item > img.image + .content {
      padding-left: 0.5em;
    }

    .ui.list > .item {
      padding:0.5em 0;
      display: table-row;
    }

    .ui.list > .item .content {
      display: table-cell;
    }

    .ui.list > .item > img.image {
      display: table-cell;
      border-radius: 5px;
    }

    .ui.list > .item .header {
      font-size:0.9em;
    }

  }

  .ui.header.mobile {
    display: none;
  }

  @media only screen and (max-width: @largestMobileScreen) {
    .ui.table thead { display: none; }

    .ui.header.mobile {
      display: block;
      margin-top: 0.5em;
      margin-bottom: 0;
      color: @grey;
      font-size: 0.6em;
      font-weight: normal;
    }

    .ui.table .ui.list {
      margin-top:0.5em;
    }

    .ui.table tr.category {
      padding:0;
    }
  }

}

@media print {
  #dfa-footer { display:none; }
  #dfa-header { display:none !important; }
}


#dfa-coalitions {

  .ui.bulleted.list {

    .item {
      word-wrap: break-word;
      font-size: 1em;
      line-height: 1.6em;
      font-weight: lighter;
    }
  }

}

#dfa-unplugged {
  margin: 1em auto;
  max-width: 700px;
  background: #fff;

  .ui.header {
    font-weight: 300;
  }

  .dfa-sponsor {
    display: block;
    margin:2em auto;
    font-size: 0.8em;
    font-weight: bold;
    width: 140px;
    text-align: center;
    color: #333;
    z-index: 1;
    background: #fff;
    padding: 0.4em;
    border-radius: 5px;
    border: 1px solid #00504d;
  }

  .dfa-sponsor:hover {
      color:#4183C4;
  }

  .podcast {
    text-align: center;
    border-bottom: 1px solid rgba(204, 204, 204, 0.31);
    padding: 1em 0 2em;

    a.image img {
      width: 450px;
      height: 450px;
      border-radius: 5px;
      box-shadow: 0 0 6px #989595;
      margin-top: 1em;
    }

    .title {
      font-weight: 200;
      margin-top: 0.5em;
      font-size: 1.8em;
      margin-top: 0;
    }

    .sub-title {
      font-weight: 200;
      font-size: 1.2em;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
    }

    p {
      font-size: 1em;
      margin-bottom: 1.4em;
    }

    .space {
      margin: 0 0.5em;
      color: #7B7B7B;
    }

    .more-link a {
      color: #CF1A1A;
    }

    .links {
      font-size: 0.95em;

      a:hover {
        text-decoration: underline;
      }

      &.hidden {
        display: none;
      }
    }

    .approved-by {
      display:none;
      background: #FFF1EA;
      padding: 0.5em;
      border-radius: 4px;
      font-size: 0.6em;
    }

    @media only screen and (max-width: @largestMobileScreen) {
      a.image img {
        width: 90%;
        height: 90%;
      }

      p {
        font-size: 1.1em;
        padding: 0 0.5em;
        text-align: left;
      }

      p.media {
        text-align: center;
      }

      .links {
        font-size: 1em;
        text-align: left;
        padding: 1em 1em 1em 2.2em;

        .icon {
          margin-left: -1.6em;
          width: 1.4em;
        }

        .space {
          height: 1px;
          overflow:hidden;
          display:block;
        }
      }
    }
  }

}

#dfa-unplugged-header {
  padding: 2em 0;
  max-width: 700px;
  margin: 1em auto;
  background: #fff;
  padding: 2em 0;

  @media only screen and (max-width: @largestMobileScreen) {
    font-size: 1em;

    .ui.header {
      font-size: 1.8em;
    }
  }
}

#dfa-unplugged-player {
  position: fixed;
  bottom: 0;
  padding: 0.5em 0;
  z-index: 100;
  width: 100%;
  background: #fff;
  border-top: 1px solid #666;
  display:none;
  left: 0;
  z-index: 1004;

  .avatar {
    border-radius: 3px;
  }

  .lf-play, .lf-pause {
    display: none;
    cursor: pointer;
  }

  .progress-bar {
    height: 32px;
    position: relative;

    .bar {
      cursor: pointer;
      height: 5px;
      background: #999;
      border-radius: 5px;
      width: 100%;
      position: absolute;
      top: 50%;
      margin-top: -3px;
    }

    .progress {
      height: 100%;
      position: absolute;
      width: 0;
      background: #B5CC18;
      border-radius: 5px;
    }
  }

  .controls {
    line-height: 2em;
    text-align: right;

    .icon {
      margin-right: 0;
    }

    .loading.icon {
      right: 0;
      left: inherit;
    }
  }

  .time {
    font-size: 1.3em;
    line-height: 1.7em;
    font-weight: bold;
  }

  @media only screen and (max-width: @largestMobileScreen) {
    bottom: 38px;
    padding: 0.5em;

    .avatar {
      display: none;
    }

    .ui.container {
      margin: 0 !important;
    }
  }
}

#pgx {
  margin: 2em auto;

  .ui.header {
    margin: 2em 0;
  }

  .ui.header.title {
    font-size: 2.6em;
    margin: 1em 0;
  }

  .ui.statistics {
    justify-content: center;

    .statistic > .label {
      text-transform: inherit;
      font-weight: normal;
    }
  }

  @media only screen and (max-width: @largestMobileScreen) {
    .ui.list > .item > .icon + .content {
      line-height: 1.4em;
      font-size: 1.1em;
    }

    .ui.header {
      margin: 1em 0;
    }
  }
}

#pgx-hiw {
  margin: 0;

  .steps {
    display:flex;
  }

  .steps > .step {
    width: 18.5%;
    position: relative;
  }

  .steps > .step.end {
    width: 3.5%;
  }

  .line {
    height: 100px;
    width: 10px;
    position: absolute;
    background: #3E7BC7;
    top: 0;
  }

  .line.left {
    left: 0;
  }

  .line.right {
    right: 0;
  }

  .line-through {
    width: 100%;
    position: absolute;
    height: 10px;
    background: #3E7BC7;
    top: 45px;
  }

  .circle {
    position: relative;
    width: 100px;
    height: 100px;
    text-align: center;
    border-radius: 1000px;
    background: #3E7BC7;
    line-height: 100px;
    font-size: 3em;
    color: #fff;
    margin: 0 auto;
  }

  .text {
    padding: 0.5em;
    font-size: 1.25em;
    line-height: 1.2em;
  }

  @media only screen and (max-width: @largestMobileScreen) {
    margin: 0 0.5em;

    .steps {
      flex-direction: column;
    }

    .steps > .step, .steps > .step.end {
      width: 100%;
    }

    .steps > .step.end {
      height: 20px;
    }

    .line-through {
      width: 10px;
      position: absolute;
      height: 100%;
      top: 0;
      left: 50%;
      margin-left: -5px;
    }

    .line {
      height: 5px;
      width: 100%;
    }

    .line.left {
      left: inherit;
      top: 0;
    }

    .line.right {
      right: inherit;
      bottom: 0;
      top: inherit;
    }

    .text {
      background: #fff;
      position: relative;
      margin: 0.1em 0 2em;
      border: 1px solid #3E7BC7;
      border-radius: 5px;
      font-size: 1.4em;
    }

  }

}

#dfa-event {

  .cover {
    height: 336px;
    background: url(/img/conference-room-min.jpg) no-repeat;
    background-position: 0 -348px;
    background-size: 100%;
    margin: 0 0 1em;
    border-radius: 5px;
    position: relative;

    @media only screen and (max-width: @largestMobileScreen) {
      background-size: 150%;
      background-position: 0;
    }
  }

  .cover .text {
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width:100%;
    left: 0;
    bottom: 0;
    border-radius: 0 0 5px 5px;
    font-size: 2.6em;
  }

  .cover .text .header {
    margin: 20px;
    text-shadow: 0 0 6px #000;
  }

  .ui.top.attached.header {
    background: #efefef;
    border-bottom: 1px solid #ddd;
  }

  p {
    line-height: 1.75em;
    font-size: 1em;
  }


  .organizers .image {
    margin: 0 auto 0.5em;
  }

  .disclaimer {
    font-size: 0.9em;
    font-style: italic;
    margin: 3em 0 1em;
    line-height: 1.8em;
    color: #999;
  }

  .address p, .address .header {
    font-size: 1.2em;
    margin: 0.2em 0;
  }

  .time {
    font-size: 1.2em;
    margin: 1em 0;
  }

}

#dfa-updates {
  margin: 0;

  .ui.vertical.menu {
    width: auto;
  }

  a.text {
    color: #000;

    span {
      display: block;
      margin: 1em 0;

    }
  }
}

#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
