/*!
 * Lifemap - Main Styles
 *
 * Copyright 2015 lifemap.io
 */

/*******************************
            Theme
*******************************/

@type    : 'global';
@element : 'site';

@import (multiple) 'semantic/theme.config';

html, body {
  background: @teal;
}

header, section {
  position: relative;
}

#lf-logo {
  font-size: 3.2em;
  line-height: 2em;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 2px #333;
}

#lf-header {
  margin-top: 3em;
  text-align: center;

  img {
    border: 14px solid #007974;
    margin: 0 auto;
  }

  .ui.header {
    text-shadow: 1px 1px 2px #333;
  }

  h1.ui.header {
    font-size: 2.4em;
    margin-bottom: 0;
  }

  h2.ui.header {
    font-size: 1.8em;
    margin-top: 0;
  }
}

#lf-scroll-down {
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: -30px;
}

.lf-timeline {

  .lf-header {
    background: #fff;
    padding: 0;
    font-size: 1.6em;
    width: 100px;
    border-radius: 45px;
    margin: 1em auto;
    position: relative;
    box-shadow: 0 0 3px #585858;
    font-weight: bold;
    text-align: center;
  }

  .ui.two.column.grid {
    margin-bottom: 2.5em;
  }

}

.lf-milestone.ui.popup {
  display:block;
  max-width: 100%;
  position: relative;
  border: none;
  box-shadow: none;

  .ui.header {
    font-size: 1.3em;
  }

  .lf-icon {
    position: absolute;
    width: 60px;
    height: 60px;
    background-size: 100%;
    background-color: #fff;
    border-radius: 30px;
    border: 4px solid #D95F02;
    top: 50%;
    margin-top: -30px;
  }

  .lf-icon.left {
    left: -42px;
  }

  .lf-icon.right {
    right: -42px;
  }

  .lf-icon[type="family-relationships"] {
    background-image: url('/lifemap/img/family-relationships.png');
  }

  .lf-icon[type="work-education"] {
    background-image: url('/lifemap/img/work-education.png');
  }

  .lf-icon[type="social"] {
    background-image: url('/lifemap/img/social.png');
  }

  .lf-icon[type="political"] {
    background-image: url('/lifemap/img/political.png');
  }

  .lf-icon[type="travel-experiences"] {
    background-image: url('/lifemap/img/medal.png');
  }

  .lf-icon[type="health-wellness"] {
    background-image: url('/lifemap/img/health.png');
  }

  .lf-icon[type="home-living"] {
    background-image: url('/lifemap/img/home.png');
  }

  p { font-size: 1.2em; margin: 0.5em 1.5em; }
}

.lf-divider {
  position: absolute;
  height: 100%;
  left: 50%;
  margin-left: -5px;
  width: 10px;
  background: rgba(255,255,255,0.5);
}
