body {
    margin-bottom: 60px;
}

.header-bar {
    background: url(/img/background.jpg) center center;
    background-size: 900px;
    height: 92px;
}
.logo-wrapper {
    margin-right: auto;
    margin-left: auto;
    max-width: 1070px;
    padding-left: 10px;
}
.top-menu {
    float: left;
}
.top-menu button {
    height: 92px;
}
.logo {
    height: 92px;
}
@media (min-width: 992px) {
    .header-bar {
        background: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    }
    .header-background {
        background: url(/img/background.jpg) center center;
        background-size: 900px;
        height: 92px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: -1;
    }
    #content {
        margin-top: 92px;
        z-index: -2;
    }
}

#content .container,
footer .container {
    background-color: #fff;
}

.description {
    text-align: center;
}

.container {
    border-radius: 10px;
    max-width: 720px;
}

.article img {
    display: block;
    max-width: 100%;
    height: auto;
}

.footer-floating {
    bottom: 0;
    background: rgba(0,0,0,.7);
    border-top: 1px solid #333;
    z-index: 5;
    padding: 5px 0;
    text-align: center;
    font-size: larger;
    font-weight: bold;
    color: #fff;
    position: fixed;
    width: 100%;
}
.footer-floating span {
    vertical-align: -1px;
}
.footer-floating .btn {
    font-weight: bold;
    margin-right: 10px;
}
.footer-blue {
    color: #91b1ec;
}
.footer-red {
    color: #C00;
    font-style: italic;
}