html, body {
  font-family: 'Trasandina';
  font-size: 20px;
  line-height: 1.5em;
}
h1, h2, h3, h4 {
    font-weight: bold;
    text-align: center;
}
h4 {
    font-size: 1em;
}
hr {
    margin: 1em 0 0.5em 0;
}
hr.thin {
    margin: 0.5em 0;
}
.article h1, .article h2, .article h3, .article h4 {
    text-align: left;
}
p {
    margin-top: 1em;
}


.header-bar {
    background: url(/img/background-small.jpg);
    height: 74px;
}
.logo-wrapper {
    margin-right: auto;
    margin-left: auto;
    max-width: 1150px;
}
.top-menu {
    float: left;
}
.hamburger {
    border-radius: 0;
    color: #fff;
    height: 74px;
    background: none;
    font-size: 24px;
    padding: 0 5px;
}
.hamburger:active,
.hamburger:focus,
.hamburger:hover {
    color: #fff;
    background: rgba(0, 0, 0, 0.1);
}
.social-buttons {
    text-align: right;
}
.social-button {
    display: flex;
    height: 74px;
    float: left;
    padding-right: 4px;
    align-items: center;
    line-height: 1em; /* Otherwise facebook like button gets shifted down */
}


@media (min-width: 992px) {
    .header-bar {
        background: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    }
    .header-background {
        background: url(/img/background-small.jpg);
        height: 92px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: -1;
    }
    #content {
        margin-top: 97px;
        padding: 10px 10px 0 10px;
        z-index: -2;
    }
    .content-block {
        background-color: #fff;
        position: relative;
        z-index: 1;
    }
}
@media (min-width: 768px) {
    #content {
        padding-top: 10px;
    }
    .content-block {
        border: 1px solid rgba(34,36,38,.15);
        border-radius: 10px;
        box-shadow: rgba(34, 36, 38, 0.14902) 0px 1px 2px 0px;
        margin-bottom: 15px;
    }
    .hamburger,
    .header-bar,
    .social-button {
        height: 92px;
    }
}

#subscribe-button {
    background-color: #2185d0;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 1px 8px 0 8px;
}
#subscribe-button:active {
    background-color:#1a69a4;
    color: #fff;
}
#subscribe-button:hover {
    background-color:#1678c2;
    color: #fff;
}
#subscribe-button i {
    margin-right: 4px;
}

.article-thumbnail {
    margin-right: 10px;
    margin-bottom: 0;
}
.article-thumbnail-wrapper {
    margin-top: 15px;
}
.article-title-link,
.article-title-link:hover,
.article-title-link:active,
.article-title-link:focus {
    color: #000;
}
.date,
.author {
    font-size: 16px;
}
.author .mini-picture {
    display: inline !important;
    height: 1.5em;
    width: 1.5em;
    vertical-align: -0.35em;
    border-radius: 500rem;
    margin: 0 5px 0 7px;
}
.author .mini-logo {
    height: 0.9em;
    width: 0.9em;
    vertical-align: -2px;
}

.container {
    max-width: 720px;
}
.container h1,
.container h2 {
    margin-top: 15px;
}

.article img {
    display: block;
    max-width: 100%;
    height: auto;
}

footer .container {
    padding-top: 10px;
}
.footer-floating {
    background: rgba(0,0,0,.7);
    border-top: 1px solid #333;
    padding: 5px 0;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    margin-top: 1em;
}
.footer-floating span {
    vertical-align: -1px;
}
.footer-floating .btn {
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
}
.footer-blue {
    color: #91b1ec;
}
.footer-red {
    color: #C00;
    font-style: italic;
}
@media (min-width: 768px) {
    body {
        margin-bottom: 60px;
    }
    .footer-floating {
        margin-top: 0;
        font-size: 20px;
        bottom: 0;
        z-index: 5;
        position: fixed;
        width: 100%;
    }
    .footer-floating span {
        vertical-align: -1px;
    }
}

.article-footer-links p:first-of-type {
    margin-top: 0;
}

h3.share-buttons-header {
    margin-top: 0;
    text-align: center;
}
.share-buttons ul {
    padding: 0;
    text-align: center;
    width: 100%;
    margin-bottom: 15px;
}
.share-buttons li {
    display: inline-block;
    padding: 0 2px;
}
.share-buttons .fa {
    margin-right: 10px;
}
#share-email,
#share-facebook,
#share-twitter {
    padding: 10px 20px;
}
#share-email {
    background: #00b5ad;
    color: #fff;
}
#share-email:hover {
    background-color:#009c95;
    color: #fff;
}
#share-email:active {
    background-color:#00827c;
    color: #fff;
}
#share-facebook {
    background: #3b5998;
    color: #fff;
}
#share-facebook:hover {
    background-color:#304d8a;
    color: #fff;
}
#share-facebook:active {
    background-color:#2d4373;
    color: #fff;
}
#share-twitter {
    background: #0084b4;
    color: #fff;
}
#share-twitter:hover {
    background-color:#00719b;
    color: #fff;
}
#share-twitter:active {
    background-color:#005f81;
    color: #fff;
}

.team-grid-wrapper {
    text-align: center;
    line-height: 1.42857143;
}
.team-grid-wrapper h2 {
    font-size: 22px;
}
.team-grid-wrapper h3 {
    color: #777;
    font-size: 16px;
    font-weight: bold;
    margin-top: 0;
}
.team-grid-wrapper img {
}
.team-grid-wrapper .picture {
    border-radius: 10px;
    height: 100px;
    width: 100px;
}
.mini-logo {
    display: inline !important;
    height: 24px;
    width: 24px;
    margin: 0 2px;
}
.team-grid-wrapper .bio {
    font-size: 12px;
    text-align: left;
}
.team-grid-links {
    margin: 10px 0;
}
