/* Compiled straight from https://github.com/Data4America/source/blob/674fc1490b12a9e798420145367ec37f3971ffd7/assets/less/dfa/donate.less because I'm lazy */

.dfa-donate {
  border: 1px solid rgba(34, 36, 38, 0.15);
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
  border-radius: .28571429rem;
  padding: 1.3em;
  font-size: 1.2em;
  display: inline-block;
  width: 482px;
  background: #F7F7F7;
}
@media only screen and (max-width: 767px) {
  .dfa-donate {
    width: auto;
    padding: 0.7em;
  }
}
.dfa-donate h4 {
  font-size: 1.1em;
  line-height: 1.4em;
  margin-top: 0;
}
@media only screen and (max-width: 767px) {
  .dfa-donate h4 {
    font-size: 0.9em;
    line-height: 1.4em;
  }
}
.dfa-donate h4 a {
  color: #529ECC;
}
.dfa-donate p {
  padding-bottom: 0.6em;
}
.dfa-donate a {
  font-weight: bold;
  color: #529ECC;
  text-decoration: none;
}
.dfa-link-sponsor,
.dfa-link-member,
.dfa-link-donate {
  display: block;
  margin-bottom: 10px;
}
.dfa-field-label {
  font-weight: bold;
  font-size: 0.8em;
}
#dfa-donate-form > table,
#dfa-post-donate-form > table {
  width: 100%;
}
.dfa-donate table td {
  padding: 1em 0;
}
a.dfa-button {
  cursor: pointer;
  display: inline-block;
  min-height: 1em;
  outline: 0;
  border: none;
  background: #5E97F9;
  padding: .8em 1.5em;
  font-weight: 700;
  font-size: 1.2em;
  line-height: 1em;
  text-align: center;
  border-radius: .28571429rem;
  color: #fff;
  text-decoration: none;
}
@media only screen and (max-width: 767px) {
  a.dfa-button {
    display: block;
    margin-bottom: 5px;
  }
}
a.dfa-button img {
  height: 30px;
  display: inline-block;
  margin-top: -4px;
  margin-left: 6px;
}
.dfa-button:hover {
  background: #1046A0;
}
.dfa-button.disabled {
  opacity: 0.8;
}
.dfa-button.disabled:hover {
  background: #5E97F9;
}
.dfa-button .icn {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center center;
  height: 2.4rem;
  text-indent: -9999px;
}
.icn.credit-card {
  background-image: url(//d2f2byp0zok4br.cloudfront.net/credit-card.svg);
  width: 2.4rem;
  margin-left: 0.4rem;
  margin-top: -0.2em;
}
.icn.paypal {
  background-image: url(//d2f2byp0zok4br.cloudfront.net/paypal.svg);
  width: 4.2rem;
  margin-left: 0.3rem;
  margin-top: -0.1em;
  height: 2.0em;
}
.icn.cheque {
  background-image: url(http://dev.data4america.org/assets/images/cheque.png);
  width: 3rem;
  margin-left: 0.3rem;
  margin-top: -0.1em;
  height: 1.7em;
  background-size: 100%;
}
.dfa-amount,
.dfa-input-text {
  position: relative;
}
.dfa-field td {
  text-align: left;
}
.dfa-field td.txtC,
.dfa-field td .txtC {
  text-align: center;
}
.dfa-field-sponsor,
.dfa-field-member,
.dfa-field-budget {
  display: none;
}
.dfa-amount-input,
.dfa-input-text input[type="text"],
.dfa-input-text input[type="number"] {
  height: 4rem;
  font-size: 1.6rem;
  color: #369ff4;
  line-height: 1.4em;
  padding: 0.55rem 2.5rem 0.55rem;
  -moz-border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  border-radius: 0.2rem;
  border: solid 1px #c1c1ba;
  margin-bottom: 0;
  text-align: left;
  width: 100%;
  cursor: pointer;
  vertical-align: bottom;
  -webkit-appearance: none;
}
.dfa-input-text input[type="text"],
.dfa-input-text input[type="number"] {
  font-size: 1.2em;
  padding: 0.3em 0.5em;
  height: 2.8rem;
}
.dfa-input-text input[type="text"].dfa-name-input {
  font-size: 1.6rem;
  line-height: 1.4em;
  padding: 0.55rem 2.5rem 0.55rem 0.4em;
  height: 4rem;
}
.dfa-amount-input.red,
.dfa-input-text input[type="text"].red,
.dfa-input-text input[type="number"].red {
  border-color: #990000;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.dfa-amount .postinput,
.dfa-amount .preinput {
  position: absolute;
  color: #333232;
  font-size: 1.6rem;
  top: 0.35rem;
  font-weight: 500;
  line-height: 1.7rem;
  padding: 0.75rem 0.5rem 0.55rem;
  font-weight: bold;
}
@media only screen and (max-width: 767px) {
  .dfa-amount-input,
  .dfa-input-text input[type="text"].dfa-name-input,
  .dfa-input-text input[type="text"],
  .dfa-input-text input[type="number"] {
    height: 3rem;
    font-size: 1.2rem;
    line-height: 1.2em;
    padding-left: 1.3em;
  }
  .dfa-amount .postinput,
  .dfa-amount .preinput {
    font-size: 1.2rem;
    line-height: 0.9rem;
    font-weight: bold;
  }
}
.dfa-amount .postinput {
  right: 0;
}
.dfa-amount .preinput {
  left: 0;
}
/* ARROW CONTROLS */
#dfa-arrow-control {
  height: 2.4em;
  position: absolute;
  left: 9em;
  top: 0.4em;
  width: 1.6em;
  display: none;
}
#dfa-arrow-control .up,
#dfa-arrow-control .down {
  background-image: url('http://dev.data4america.org/assets/images/arrow-up.png');
  background-size: 100%;
  width: 1.6em;
  height: 1.2em;
  opacity: 0.6;
  cursor: pointer;
  background-size: center center;
}
#dfa-arrow-control .down {
  background-image: url('http://dev.data4america.org/assets/images/arrow-down.png');
}
#dfa-arrow-control .up:hover,
#dfa-arrow-control .down:hover {
  opacity: 1;
}
.dfa-check {
  position: relative;
  text-align: left;
}
.dfa-check input {
  opacity: 0;
  z-index: 1;
}
.dfa-check input,
.dfa-check label:before {
  position: absolute;
  width: 1.3rem;
  height: 1.3rem;
  left: 0;
}
.dfa-check input[type="checkbox"] + label {
  margin: 0;
  padding: 0;
  display: block;
  margin-left: 2rem;
  line-height: 1.3rem;
  text-transform: none;
  font-size: 1.2rem;
  font-weight: 500;
}
@media only screen and (max-width: 767px) {
  .dfa-check input[type="checkbox"] + label {
    line-height: 1.2rem;
    font-size: 0.8rem;
  }
}
.dfa-check input[type=checkbox] + label:before {
  content: "";
  display: inline-block;
  border: 1px solid #c1c1ba;
  background-color: #fff;
  text-align: center;
  border-radius: 2px;
  color: #369ff4;
}
.dfa-check input[type=checkbox]:checked + label:before {
  content: "✓";
  line-height: 1.4rem;
}
.dfa-select {
  background-position: 92% 50%;
  height: 40px;
  line-height: 1.7em;
  font-size: 0.9em;
  vertical-align: middle;
  width: auto;
  -webkit-appearance: none;
  -webkit-background-clip: padding-box;
  -webkit-locale: en;
  -webkit-perspective-origin: 80px 20px;
  -webkit-transform-origin: 80px 20px;
  background: #ffffff url(http://dev.data4america.org/assets/images/select-arrow.png) no-repeat scroll 95% 50% auto padding-box padding-box;
  border: 3px solid #efefef;
  margin: 0px;
  padding: 5px 35px 5px 15px;
  -webkit-border-after: 3px solid #efefef;
  -webkit-border-before: 3px solid #efefef;
  -webkit-border-end: 3px solid #efefef;
  -webkit-border-start: 3px solid #efefef;
}
.dfa-hiw {
  margin-top: 1.8em;
  box-shadow: 0 0 0 1px #DEDEDE inset,0 0 0 0 transparent;
  background-color: #E8E8E8;
  border-radius: 10px;
  padding: 10px;
  font-size: 0.8em;
}
/* LEARN MORE MOD */
#dfa-learn-more,
#dfa-cheque,
#dfa-cheque-member,
#dfa-cheque-mod {
  text-align: left;
  display: none;
}
#dfa-cheque,
#dfa-cheque-member,
#dfa-cheque-mod {
  font-size: 0.8em;
}
.dfa-donate ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.dfa-donate ol li {
  counter-increment: step-counter;
  margin-bottom: 0.8em;
  margin-left: 28px;
}
.dfa-donate ol li::before {
  content: '#' counter(step-counter);
  color: #2C5BA7;
  margin-left: -27px;
  float: left;
  font-weight: bold;
}
/* POST DONATION FORM */
.dfa-table-budget {
  padding: 0.5em 1em;
  background: #eee;
  border-radius: 10px;
}
.dfa-table-budget table {
  width: 100%;
}
.dfa-table-budget table td,
.dfa-table-budget table th {
  padding: 0.5em;
  font-size: 0.8em;
}
.dfa-table-budget th {
  font-weight: bold;
  border-bottom: 2px solid #369ff4;
  font-size: 0.8em;
  text-align: center;
}
.dfa-table-budget .txtC {
  text-align: center;
}
.dfa-table-budget .txtR {
  text-align: right;
}
.dfa-table-budget .dfa-input-text {
  width: 6em;
  margin: 0 auto;
}
.dfa-budget-total td {
  border-top: 2px solid #369ff4;
}
.dfa-budget-total .num.red {
  color: #990000;
}
.dfa-budget-total td {
  font-size: 1.3em;
  font-weight: bold;
}
/* PERSONAL INFO FORM */
#dfa-personal-info-form table td {
  padding: 0.5em;
}
#dfa-personal-info-form .dfa-input-text input[type="text"],
#dfa-personal-info-form .dfa-input-text input[type="number"] {
  font-size: 1em;
  padding: 0.2em 0.3em;
  height: 2.4rem;
}
/* LOADER */
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
}
.loader:before,
.loader:after {
  position: absolute;
  content: '';
}
.loader:before {
  width: 5.2em;
  height: 10.2em;
  background: #F7F7F7;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.2em 5.1em;
  transform-origin: 5.2em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}
.loader {
  font-size: 11px;
  text-indent: -99999em;
  margin: 55px auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em #E64141;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  left: 0;
}
.loader:after {
  width: 5.2em;
  height: 10.2em;
  background: #F7F7F7;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 5.1em;
  -webkit-transform-origin: 0px 5.1em;
  transform-origin: 0px 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}
@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
#dfa-loading {
  display: none;
  width: auto;
  height: 240px;
}
/* THANK YOU MODULE */
#dfa-thank-you {
  display: none;
}
/* RANGE SLIDER */
.dfa-range-slider {
  text-align: center;
}
.dfa-range-slider .input-range {
  -webkit-appearance: none;
  width: 55%;
  height: 10px;
  border-radius: 5px;
  background: #ccc;
  outline: none;
}
.dfa-range-slider .input-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #353535;
  cursor: pointer;
  -webkit-transition: background 0.15s ease-in-out;
  transition: background 0.15s ease-in-out;
}
.dfa-range-slider .input-range::-webkit-slider-thumb:hover {
  background: #e06161;
}
.dfa-range-slider .input-range:active::-webkit-slider-thumb {
  background: #e06161;
}
.dfa-range-slider .input-range::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  background: #353535;
  cursor: pointer;
  -webkit-transition: background 0.15s ease-in-out;
  transition: background 0.15s ease-in-out;
}
.dfa-range-slider .input-range::-moz-range-thumb:hover {
  background: #e06161;
}
.dfa-range-slider .input-range:active::-moz-range-thumb {
  background: #e06161;
}
.dfa-range-slider .label {
  font-weight: bold;
  font-size: 0.8em;
  color: #6188CC;
}
::-moz-range-track {
  background: #ccc;
  border: 0;
}
input::-moz-focus-inner {
  border: 0;
}
/* STEP CONTROLS */
.dfa-sponsor-step h1 {
  font-size: 1.1em;
  line-height: 1.5em;
}
.dfa-sponsor-step-form {
  display: none;
}
.dfa-sponsor-step {
  margin: 0.5em 0;
  padding: 0.8em 0.5em;
  background-color: #E8E8E8;
  border-radius: 5px;
}
.dfa-sponsor-step-form {
  margin: 0.5em 0;
}
.dfa-sponsor-step .dfa-button {
  padding: 0.4em 1em;
  font-size: 1.2em;
}
.dfa-sponsor-step .dfa-button.selected {
  background: #1046A0;
}
.dfa-select[name="sponsor_issue"] {
  width: 420px;
}
@media only screen and (max-width: 767px) {
  .dfa-select[name="sponsor_issue"] {
    width: 290px;
  }
  #dfa-personal-info-form select[name="state"] {
    width: 155px;
  }
}
.dfa-sponsor-step .dfa-input-text {
  margin-top: 1.6em;
  width: 420px;
}
.dfa-sponsor-step .dfa-input-text input[type="text"] {
  border-width: 3px;
  border-color: #EFEFEF;
  font-size: 1em;
}
.dfa-mobile-header {
  padding-bottom: 0.4em;
  border-bottom: 1px solid #ddd;
  margin-bottom: 0.4em;
  text-align: right;
  display: none;
}
@media only screen and (max-width: 767px) {
  .dfa-mobile-header {
    display: block;
  }
}
.dfa-mobile-header .dfa-button {
  display: inline-block;
  padding: 0.5em 1em;
  font-size: 0.9em;
}
