extends layout

block prepend title
  | #{ page.title + ' - '}

block metatags
  meta(property="og:title", content="Data4America | About")

block content

  div.ui.segment.red.dfa-about
    h1.ui.header.aligned.center About 
      span.d4a Data
        span.f(style="color:#CC0001") 4
        | America
    div.ui.divider
    article.page
      div#dfa-tagline.fourteen.wide.column
        h1.ui.header
          | Bridging data and conversations to advance the understanding of policy
        h3.ui.header.center.aligned
          | A nonprofit, nonpartisan initiative made with 
          span(style="margin: 0em 0.4em 0em 0em;") 💙  
          | from 🇺🇸 

      //- P  
      //-   strong 1/ 
      //-   |  We bring together some of the brightest in the data science, government, and technology communities to serve the non-profit sector: 
      //-   a(href="http://data4america.org/team", target="_blank") http://data4america.org/team
      //- 
      //- p  
      //-   strong 2/ 
      //-   |  We publish Lifemap, history in 100 characters or less: 
      //-   a(href="http://lifemap.io", target="_blank") http://lifemap.io
      //- 
      //- p  
      //-   strong 3/ 
      //-   |  We publish user-generated policy stories: 
      //-   a(href="http://test.data4america.org/basic-income/", target="_blank") http://test.data4america.org/basic-income/
      //- 
      //- p  
      //-   strong 4/ 
      //-   |  We crowdsource, edit, and publish data powered stories: 
      //-   a(href="https://data4america.org/geography-american-jobs/", target="_blank") https://data4america.org/geography-american-jobs/
      //- 
      //- p  
      //-   strong 5/ 
      //-   |  We host Unplugged, a podcast exploring the intersection of government, data, technology, and the future: 
      //-   a(href="https://data4america.org/unplugged/", target="_blank") https://data4america.org/unplugged/
      //- 
      //- p  
      //-   strong 6/ 
      //-   |  We host Data4America LIVE, an event series bringing together interesting people with interesting ideas to explore the future: 
      //-   a(href="https://www.eventbrite.com/e/the-future-of-encryption-housing-and-regulation-by-data4america-lincoln-tickets-24882458102", target="_blank") https://www.eventbrite.com/e/the-future-of-encryption-housing-and-regulation-by-data4america-lincoln-tickets-24882458102
      //- 
      //- p  
      //-   strong 7/ 
      //-   |  We curate and promote open government data sets: 
      //-   a(href="https://twitter.com/data4america/status/659145577301585920", target="_blank") https://twitter.com/data4america/status/659145577301585920
      //- 
      //- p  
      //-   strong 8/ 
      //-   |  We open source some of data sets underneath our published stories: 
      //-   a(href="https://datahub.io/dataset/where-are-the-jobs", target="_blank") https://datahub.io/dataset/where-are-the-jobs
      //- 
      //- p  
      //-   strong 9/ 
      //-   |  We open source the code bases underneath our published data models: 
      //-   a(href="https://github.com/Data4America/basic-income-basic-job", target="_blank") https://github.com/Data4America/basic-income-basic-job
      //- 
      //- p  
      //-   strong 10/ 
      //-   |  We open source the recipe for how the data science in our published stories works: 
      //-   a(href="https://github.com/Data4America/jobmaps", target="_blank") https://github.com/Data4America/jobmaps
      //- 
      //- p  
      //-   strong 11/ 
      //-   |  We enable the private sector to sponsor policy ideas so our curation and editorial board engines have a steady stream of unique content to publish: 
      //-   a(href="https://data4america.org/issues/", target="_blank") https://data4america.org/issues/
      //- 
      //- p 
      //-   strong 12/
      //-   |  We experiment with many ideas. Some work, some don’t; we double down on the one’s that do.

      h2(style="font-weight:300;") We're a team of Republicans, Democrats, Libertarians, and Independents working together to help America understand where the future is headed, faster.
      - var people = env.helpers.getPeople(contents).filter(function (p) { return p.boardOfDirectors; });
      include teamGrid
      - var people = env.helpers.getPeople(contents).filter(function (p) { return p.founder || p.boardOfDirectors || p.editorialBoard || p.team; });
      mixin teamGrid(people)
      h1 Advisors
      - var people = env.helpers.getPeople(contents).filter(function (p) { return p.advisor; });
      mixin teamGrid(people)
      h1 Staff
      - var people = env.helpers.getPeople(contents).filter(function (p) { return p.staff; });
      mixin teamGrid(people, "staff")
