
extends layout
//- this logic should be moved to a view at some point

block content
  - var archives = _.chain(env.helpers.getArticles(contents)).groupBy(function(item) {
  -   return item.date.getFullYear();
  - }).value();
  - for (var archive in archives) {
  -   archives[archive] = _.groupBy(archives[archive], function(item) { return item.date.getMonth(); });
  - }
  - var month_names = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
  section.archive
    div.container.content-block
      h2 Archive
      - var yearsK = _.chain(archives).keys().reverse().value();
      each yearK in yearsK
        - var months = archives[yearK];
        h3
          span= yearK
        - var monthsK = _.chain(months).keys().reverse().value();
        each monthK in monthsK
          h4
            span= month_names[monthK]
          ul
            each item in months[monthK]
              li
                a(href=item.url)= item.title
