
mixin author(authorName)
  hr.thin
  - var author = contents.authors[authorName + '.json'];
  span.author
    | #{ 'Created by: ' }
    b
      a(href=author.metadata.email, style='margin-right: 5px')= author.metadata.name

    - var seenWww = false;
    each link in author.metadata.links
      a(href=link.url, target='_blank')
        if link.type !== 'www' || !seenWww
          img.mini-logo(src='/img/mini-logos/' + link.type + '.png')
          if link.type === 'www'
            - seenWww = true;
  hr.thin