extends layout

block prepend title
  | #{ page.title + ' - '}

block content
  link(rel="stylesheet", type="text/css", href="/basic-income/basic-income.css")

  div!= typogr(page.html).typogrify()

  div.ui.icon.menu.inverted.red.slide-controls.top.attached
    a.item.prev.disabled
      i.chevron.left.icon
    div.item.text
    a.item.next
      i.chevron.right.icon
    div.menu.right
      a.item
        i.icon.mail
      a.item
        i.icon.facebook
      a.item
        i.icon.twitter

  div.ui.segment.attached#customize-form(style="min-height:400px; overflow:hidden;")
    div.dfa-slide
      div.ui.items
        div.item(style="margin-top:3em;")
          div.image(style="width:175px;")
            img(src="/basic-income/thumbnail-256.png")
          div.content
            h1.ui.header Modeling basic income - does it add up?
            p Create your basic income model for any geography.
            div.slide-controls(style="text-align: center; margin-top: 2em;")
              div.ui.red.button.huge.next Get Started

    div.dfa-slide
      h2.ui.header What is basic income?
      div.ui.divider
      p.dfa-slide-text Basic income is a system where the government directly gives money to all its citizens, rather than somewhat indirectly through complicated welfare programs. The idea is that removing the overhead and inefficiencies inherent in welfare programs and putting more money in the pocket of the poor could be very beneficial.
      p.dfa-slide-text Beyond that, there are many questions. Should the amount of money phase out for wealthy citizens? Which entitlements and regulations should it replace? And most importantly, how much will it cost and what will the benefits be?
      p.dfa-slide-text Mathematical modeling allows us to quantitatively state our hypothesis, evaluate its plausibility, and explore alternative options.

    div.dfa-slide
      h2.ui.header
        span.ui.red.label.large 1
        |  Who are you?
      div.ui.divider
      div.ui.form
        div.two.fields
          div.field
            label First Name
            div.ui.huge.input
              input(placeholder="First Name",type="text")
          div.field
            label Last Name
            div.ui.huge.input
              input(placeholder="Last Name",type="text")
        div.field
          label Your email address
          div.ui.huge.input
            input(placeholder="Email Address",type="text")
        div.field.right.slide-controls(style="text-align:left;")
          div.ui.white.button.prev.large Back
          div.ui.red.button.next.large Next

    div.dfa-slide
      h2.ui.header
        span.ui.red.label.large 2
        |  What region or country are you modeling for?
      div.ui.divider
      div.ui.form
        div.field
          label Name of region or country
          div.ui.huge.input
            input#regionName(placeholder="Write in",type="text")
        div.field(style="padding: 0.6em; background: #eee; border-radius: 5px;")
          label What is its Wikipedia URL?
          input(placeholder="Copy and paste the Wikipedia URL for region or country",type="text")
        div.field.right.slide-controls(style="text-align:left;")
          div.ui.white.button.prev.large Back
          div.ui.red.button.next.large Next

    div.dfa-slide
      h2.ui.header
        span.ui.red.label.large 3
        |  Your geography details
      div.ui.divider
      div.ui.form
        div.two.fields
          div.field
            label Number of adults
            input#numAdults(type="text")
        div.two.fields
          div.field
            label GDP (trillions)
            div.ui.left.labeled.input
              div.ui.label $
              input#gdp(type="text")
          div.field
            label Tax revenue (fraction of GDP)
            input#taxAsPercentGdp(type="text")
        div.field(style="padding: 0.6em; background: #eee; border-radius: 5px;")
          label Source URL
          div.ui.huge.input
            input(placeholder="Copy and paste the URL for this information",type="text")
        div.field.right.slide-controls(style="text-align:left;")
          div.ui.white.button.prev.large Back
          div.ui.red.button.next.large Next

    div.dfa-slide
      h2.ui.header
        span.ui.red.label.large 4
        |  Annual basic income amount
      div.ui.divider
      div.ui.form
        div.field
          div.ui.huge.left.labeled.input
            div.ui.label $
            input#basicIncome(type="text", disabled)
        div.grouped.fields.dfa-bi-checkboxes
          div.field
            div.ui.slider.checkbox
              input(type="radio",name="basicIncomeType", value="10k", tabindex="0",class="hidden")
              label $10,000/year
          div.field
            div.ui.slider.checkbox
              input(type="radio",name="basicIncomeType", value="minimumWage", tabindex="0",class="hidden")
              label Full time US minimum wage ($14,500/year)
          div.field
            div.ui.slider.checkbox
              input(type="radio",name="basicIncomeType", value="20k", tabindex="0",class="hidden")
              label $20,000/year
          div.field
            div.ui.slider.checkbox
              input(type="radio",name="basicIncomeType", value="custom", tabindex="0",class="hidden")
              label Choose My Own
        div.field.right.slide-controls(style="text-align:left;")
          div.ui.white.button.prev.large Back
          div.ui.red.button.next.large Next

    div.dfa-slide
      h2.ui.header
        span.ui.red.label.large 5
        | Use a Basic Income or a Negative Income Tax?
      div.ui.divider
      div.ui.form
        div.grouped.fields.dfa-ubi-nit
          div.field
            div.ui.slider.checkbox
              input(type="radio", name="ubiOrNit", value="ubi", tabindex="0",class="hidden")
              label Universal Basic Income (Give everyone exactly the same monthly payment.)
          div.field
            div.ui.slider.checkbox
              input(type="radio", name="ubiOrNit", value="nit", tabindex="0",class="hidden")
              label Negative Income Tax (Give the full basic income only to people making $0, and gradually phase it out for people making more.)
        div.field.right.slide-controls(style="text-align:left;")
          div.ui.white.button.prev.large Back
          div.ui.red.button.next.large Next

    div.dfa-slide
      h2.ui.header
        span.ui.red.label.large 6
        |  Spending cuts and tax increases (billions)
      div.ui.divider
      div.ui.form
        div.field
          div.ui.left.labeled.input
            div.ui.label $
            input#cutsTaxes(type="text", disabled)
        div#cutsTaxesEntries
        br
        div.field.right.slide-controls(style="text-align:left;")
          div.ui.white.button.prev.large Back
          div.ui.red.button.next.large Next

    div.dfa-slide
      h2.ui.header
        span.ui.red.label.large 7
        |  GDP Change
      div.ui.divider
      p.dfa-slide-text Will basic income result in economic growth due to the stimulatory effects of more money in the hands of poor people and the removal of welfare cliffs? Or will it lead to economic contraction due to people working less? There is no perfect way to estimate this, so below specify a range of possible GDP changes.
      div.ui.form
        div.two.fields
          div.field
            label Minimum
            div.ui.right.labeled.input
              input#gdpRangeMin(type="text",placeholder="Amount")
              div.ui.label %
          div.field
            label Maximum
            div.ui.right.labeled.input
              input#gdpRangeMax(type="text",placeholder="Amount")
              div.ui.label %
        div.field.right.slide-controls(style="text-align:left;")
          div.ui.white.button.prev.large Back
          div.ui.red.button.next.large Next

    div.dfa-slide
      h2.ui.header
        span.ui.red.label.large 8
        |  Review your choices
      div.ui.divider
      div.ui.form
        table.ui.definition.table
          thead
            tr
              th
              th Your Selection
          tbody
            tr
              td Basic Income (per adult)
              td 
                a.changeStep(href="javascript:;",data-step="5")
                  $#[span#reviewBasicIncome]/year
            tr
              td UBI or NIT?
              td
                a.changeStep(href="javascript:;",data-step="6")
                  span#reviewUbiOrNit
            tr
              td Cuts and tax increases
              td
                a.changeStep(href="javascript:;",data-step="7")
                  $#[span#reviewCutsTaxes]B
            tr
              td GDP Change
              td
                a.changeStep(href="javascript:;",data-step="8") #[span#reviewGdpRangeMin]% to #[span#reviewGdpRangeMax]%
        div.field.right.slide-controls
          div.ui.white.button.prev.huge Back
          div.ui.red.button.next.huge Generate

    div.dfa-slide
      h1.ui.header Results
      div.ui.divider
      div.ui.two.column.stackable.grid
        div.column
          h4 Distribution of possible costs
          div#biDist
        div.column
          h4 Average costs/savings by component
          table.biBars#biBars

      div.ui.divider
      div.dfa-share(style="padding-bottom:1em; text-align:center;")
        h3.ui.header Thank your generating a data model for <span id="regionNameTextEnd"></span>!
        p Please share it with your friends and family.
        div.ui.grey.email.button.circular.icon
          i.icon.mail
        div.ui.facebook.button.circular.icon
          i.ui.facebook.icon
        div.ui.twitter.button.circular.icon
          i.ui.twitter.icon
        a.circular.ui.icon.button.sms.orange(href="javascript:;")
          i.icon-sms
      div.ui.action.input.fluid
        input#cliptext(type="text", value="http://data4america.org/basic-income")
        button.copy-button.ui.button(data-clipboard-target="#cliptext")
          span Copy

  div.ui.segment.inverted.grey.attached.center.aligned(style="padding: 0.4em 0.5em; font-size: 0.9em;")
    | HOW TO: Build a data model for your own region or country, then share.

  div.ui.segment.inverted.bottom.attached.center.aligned(style="background: #002868; padding: 0.4em 0.5em;font-size: 0.9em;")
    div.action.author
      | Model created by 
      a(href="http://dumbmatter.com/", target="_blank", style="color:white;")
        strong  Jeremy Scheff 
        img.ui.avatar.image(src="/authors/jeremy-scheff.jpg") 
      span.saperator ·
      a(href="http://datahub.io/organization/data4america#_=_", target="_blank", style="color:white; font-weight:bold;") Submit a Data Story
      span.saperator ·
      a.dfa-btn-donate(href="javascript:;", style="color:white; font-weight:bold;") Donate to D4A

  script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js")
  script(type="text/javascript", src="/basic-income/basic-income.js")