extends layout

block prepend title
  | #{ page.title + ' - '}

block content
  div#dfa-coalitions.ui.segment
    h1.ui.header.aligned.center Coalitions
    div.ui.divider
    p As one of our core operating principles, the Data4America is dedicated to building broad coalitions to expand bipartisan support for market-oriented policy proposals. In other words, we will work with a wide array of ideologically diverse groups who share some of our specific policy goals, even if we don’t agree with them on everything. In addition to our many issue-based informal coalitions, we are active in a number of standing coalitions. These include:
    div.ui.bulleted.list.large
      div.item Audit the Pentagon
      div.item Digital Due Process
      div.item Congressional Data Coalition
      div.item Smarter Safer
      div.item Smarter Safer Florida
      div.item National Security Surveillance Coalition
      div.item Green Scissors
      div.item PTC Coalition
      div.item Coalition for Competitive Insurance Rates
      div.item Re:Create Coalition
      div.item Right on Crime
      div.item Right on Defense
      div.item Taxpayers for Sustainable Pensions
      div.item United for Patent Reform
    p For more information about Data4America’s coalition efforts, please our 
        a(href="https://mail.google.com/mail/u/0/?view=cm&fs=1&to=chris@data4america.org&su=Interested in donating&tf=1",target="_blank") Executive Director Chris McCoy
        | .
