extends layout

block prepend title
  | #{ page.title + ' - '}

block content
  div#dfa-event

    div.cover
      div.text
        h1.ui.inverted.header 
          span(style='font-weight:normal;')
            | Data
            span(style='color:#cc0000;') 4
            | America Conversations #1 Payment

    div.ui.grid.stackable
      div.eleven.wide.column

        h3.ui.top.attached.header(style="margin-top:0;") Event Details
        div.ui.attached.segment
          h3 ABOUT
          ul(style="padding-left: 1em;")
            li
              p Invite-only
            li
              p Up to 40 attendees
            li
              p Open conversations about policy ideas
            li
              p Republicans, Democrats, Libertarians, Independents, and more are Welcome
            li
              p We’ll start the evening with a 15-minute lightning talk from Renee DiResta on her work 
                a(href="https://www.nytimes.com/2017/11/12/technology/social-media-disinformation.html", target="_blank") profiled in the NYT
            li
              p $75 for admission
            li
              p Up to $40 will be tax-deductible
            li
              p Doors close promptly at 6pm PT

          div.dfa-article-donate.body-text

      div.five.wide.column

        h3.ui.top.attached.header When & Where
        div.ui.attached.segment
          iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d755.5763683448565!2d-73.98226937078245!3d40.755305598707984!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNDDCsDQ1JzE5LjEiTiA3M8KwNTgnNTQuMiJX!5e0!3m2!1sen!2s!4v1518105245705", width="100%", height="300", frameborder="0", style="border:0", allowfullscreen)
          h3 LOCATION
          p 54 Washburn St
            br
            | San Francisco, CA 94103
            br
            a(href="https://www.google.com/maps/place/40%C2%B045'19.1%22N+73%C2%B058'54.2%22W/@40.7553119,-73.9822661,19z/data=!3m1!4b1!4m5!3m4!1s0x0:0x0!8m2!3d40.7553119!4d-73.9817189?hl=en", target="_blank")
              i.icon.map
              | View Map
              
          h3 DATE AND TIME
          p Wed, March 7 2018 
            br 
            | 6:00 PM – 9:00 PM PST
            br
            a(href="/ics/Data4America.ics", target="_blank")
              i.icon.calendar
              | Add to Calendar
        
