extends layout

block prepend title
  | #{ page.title + ' - '}

block content
  div#dfa-event

    div.cover
      div.image
        img(src="/img/d4a-conversations.png")
      //- div.text
      //-   h1.ui.inverted.header 
      //-     span(style='font-weight:normal;')
      //-       | Data
      //-       span(style='color:#cc0000;') 4
      //-       | America Conversations #1

    div.ui.grid.stackable
      div.eleven.wide.column

        h3.ui.top.attached.header(style="margin-top:0;") Apply
        div.ui.attached.segment
          iframe(src="https://docs.google.com/forms/d/e/1FAIpQLSe1mPb9d1IyHjF_veDIvPOFZxOvEcz9L03wR1E6redKiVUqRg/viewform?usp=sf_link", width="100%", height="1280", frameborder="0")

      div.five.wide.column

        h3.ui.top.attached.header When & Where
        div.ui.attached.segment
          iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d755.5763683448565!2d-73.98226937078245!3d40.755305598707984!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNDDCsDQ1JzE5LjEiTiA3M8KwNTgnNTQuMiJX!5e0!3m2!1sen!2s!4v1518105245705", width="100%", height="300", frameborder="0", style="border:0", allowfullscreen)
          h3 LOCATION
          p 54 Washburn St
            br
            | San Francisco, CA 94103
            br
            a(href="https://www.google.com/maps/place/40%C2%B045'19.1%22N+73%C2%B058'54.2%22W/@40.7553119,-73.9822661,19z/data=!3m1!4b1!4m5!3m4!1s0x0:0x0!8m2!3d40.7553119!4d-73.9817189?hl=en", target="_blank")
              i.icon.map
              | View Map
              
          h3 DATE AND TIME
          p Wed, March 7 2018 
            br 
            | 6:00 PM – 9:00 PM PST
            br
            a(href="/ics/Data4America.ics", target="_blank")
              i.icon.calendar
              | Add to Calendar
            
        h3.ui.top.attached.header Organizers
        div.ui.attached.segment.organizers
          h4.ui.header Data4America
          img.ui.fluid.image(src="https://data4america.org/img/logo-256.png", style="max-width:150px;")
          p Bridging data and conversations to advance the understanding of policy
          p A nonprofit, nonpartisan initiative made with 
            span(style="margin: 0em 0.4em 0em 0em;") 💙  
            | from 🇺🇸 
          p
            a(href="http://data4america.org/")
              i.globe.icon
              |  data4america.org
          p
            a(href="https://www.facebook.com/data4america/", target="_blank")
              i.facebook.icon
              |  facebook.com/data4america
          p
            a(href="https://twitter.com/data4america", target="_blank")
              i.twitter.icon
              |  twitter.com/data4america   

  .dfa-btn-donate(style='text-align:center; margin-top:3em;')
    a.ui.blue.huge.header(style='cursor:pointer;') Make a tax-deductible donation
