extends layout

block prepend title
  | #{ page.title + ' - '}

block metatags
  meta(property="og:title", content=page.title+" - Data4America")
  meta(property="og:description", content="Putting a group of Republicans, Democrats, Libertarians, and Independents in the room to discuss political ideas, not necessarily politics, is progress our country needs right now.")

block content
  div#dfa-event
    - var encodedTitle = encodeURI(page.title + ' - Data4America')
    - var twitterText = encodeURI('Get invited to Conversation One from @Data4America held in San Francisco, CA on March 7th at 6:30pm PT -')
    - var url = 'http://www.data4america.org'+page.url
    div.cover
      div.image
        img(src="/img/d4a-conversations-one.png")
      //- div.text
      //-   h1.ui.inverted.header 
      //-     span(style='font-weight:normal;')
      //-       | Data
      //-       span(style='color:#cc0000;') 4
      //-       | America Conversations #1

    div.ui.grid.stackable
      div.eleven.wide.column

        h3.ui.top.attached.header(style="margin-top:0;") Apply
        div.ui.attached.segment
          div.dfa-event-share
            a.ui.medium.circular.facebook.icon.button(href="https://www.facebook.com/sharer/sharer.php?u="+url+"&title="+encodedTitle, target="_blank")
              i.facebook.icon
            a.ui.medium.circular.twitter.icon.button(href="https://twitter.com/intent/tweet?text="+twitterText+"&url="+url+"&via=data4america", target="_blank")
              i.twitter.icon
            a.ui.medium.circular.linkedin.icon.button(href="https://www.linkedin.com/shareArticle?mini=true&url="+url+"&title="+encodedTitle, target="_blank")
              i.linkedin.icon
            a.ui.medium.grey.circular.icon.button(href="mailto:?body="+twitterText+url+"&subject="+encodedTitle, target="_blank")
              i.mail.icon
                
          iframe(src="https://docs.google.com/forms/d/e/1FAIpQLSe1mPb9d1IyHjF_veDIvPOFZxOvEcz9L03wR1E6redKiVUqRg/viewform?usp=sf_link", width="100%", height="1280", frameborder="0")

          div.dfa-event-share.footer
            a.ui.medium.circular.facebook.icon.button(href="https://www.facebook.com/sharer/sharer.php?u="+url+"&title="+encodedTitle, target="_blank")
              i.facebook.icon
            a.ui.medium.circular.twitter.icon.button(href="https://twitter.com/intent/tweet?text="+twitterText+"&url="+url+"&via=data4america", target="_blank")
              i.twitter.icon
            a.ui.medium.circular.linkedin.icon.button(href="https://www.linkedin.com/shareArticle?mini=true&url="+url+"&title="+encodedTitle, target="_blank")
              i.linkedin.icon
            a.ui.medium.grey.circular.icon.button(href="mailto:?body="+twitterText+url+"&subject="+encodedTitle, target="_blank")
              i.mail.icon
                
      div.five.wide.column

        h3.ui.top.attached.header When & Where
        div.ui.attached.segment
          iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3153.6353020506813!2d-122.4165931488822!3d37.775148719811284!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8085809d14156ab1%3A0xb5adb8e220eedddd!2s54+Washburn+St%2C+San+Francisco%2C+CA+94103!5e0!3m2!1sen!2s!4v1518333800706", width="100%", height="300", frameborder="0", style="border:0", allowfullscreen)
          h3 LOCATION
          p 54 Washburn St
            br
            | San Francisco, CA 94103
            br
            a(href="https://www.google.com/maps?ll=37.775145,-122.414399&z=16&t=m&hl=en-US&gl=US&mapclient=embed&q=54+Washburn+St+San+Francisco,+CA+94103+USA", target="_blank")
              i.icon.map
              | View Map
              
          h3 DATE AND TIME
          p Wed, March 7 2018 
            br 
            | 6:30 PM – 9:00 PM PST
            br
            span(style="font-size:11px;") (Doors close promptly at 7pm)
            br
            a(href="/ics/Data4America.ics", target="_blank")
              i.icon.calendar
              | Add to Calendar
            
        h3.ui.top.attached.header Organizers
        div.ui.attached.segment.organizers
          h4.ui.header Data4America
          img.ui.fluid.image(src="https://data4america.org/img/logo-256.png", style="max-width:150px;")
          p Bridging data and conversations to advance the understanding of policy
          p A nonprofit, nonpartisan initiative made with 
            span(style="margin: 0em 0.4em 0em 0em;") 💙  
            | from 🇺🇸 
          p
            a(href="http://data4america.org/")
              i.globe.icon
              |  data4america.org
          p
            a(href="https://twitter.com/data4america", target="_blank")
              i.twitter.icon
              |  twitter.com/data4america 
          p
            a(href="https://www.facebook.com/data4america/", target="_blank")
              i.facebook.icon
              |  facebook.com/data4america

    div.text-center(style="margin-top:3em;")
      a.ui.blue.large.header.text-center(style='cursor:pointer;', href="/donate", target="_blank") Make a tax-deductible donation
      
    div#dfa-event-cal-opts.ui.small.modal
      i.icon.close
      div.header(style="text-align: center;") Add to Calendar
      div.content
        div.ui.icon.huge.vertical.basic.fluid.buttons              
          a.ui.button(href="/ics/conversation-one-dfa.ics", target="_blank")
            i.icon.mail 
            | Outlook Calendar
            
          a.ui.button(href="http://www.google.com/calendar/event?action=TEMPLATE&text=Data4America%20Conversations%20One&dates=20180307T023000Z/20180307T050000Z&ctz=America/Los_Angeles&location=54%20Washburn%20St%20San%20Francisco%2C%20CA%2094103&details=For+details,+link+here:+https://www.data4america.org/conversationone", target="_blank") 
            i.icon.google 
            | Google Calendar
          
          a.ui.button(href="/ics/conversation-one-dfa.ics", target="_blank") 
            i.icon.apple 
            | Apple Calendar
    
