extends layout

block prepend title
  | #{ page.title + ' - '}

block content
  div#dfa-event
    div.cover
      div.image
        img(src="/img/d4a-conversations.png")
      //- div.text
      //-   h1.ui.inverted.header 
      //-     span(style='font-weight:normal;')
      //-       | Data
      //-       span(style='color:#cc0000;') 4
      //-       | America Conversations #1

    div.ui.grid.stackable
      div.eleven.wide.column

        h3.ui.top.attached.header(style="margin-top:0;") Event Details
        div.ui.attached.segment
          h3 ABOUT
          ul(style="padding-left: 1em;")
            li
              p Invite-only
            li
              p Up to 40 attendees

            li
              p Open conversations about policy ideas

            li
              p Republicans, Democrats, Libertarians, Independents, and more are Welcome

            li
              p We’ll start the evening with a 15-minute lightning talk from Renee DiResta on her work 
                a(href="https://www.nytimes.com/2017/11/12/technology/social-media-disinformation.html", target="_blank") profiled in the NYT
            li
              p $75 for admission

            li
              p Food and drinks will be served

            li
              p Up to $40 will be tax-deductible

            li
              p Event starts at 6:30pm

            li
              p Doors close promptly at 7pm

            li
              p Event ends at 9pm

          div.dfa-article-donate.body-text

      div.five.wide.column

        h3.ui.top.attached.header When & Where
        div.ui.attached.segment
          iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3153.6353020506813!2d-122.4165931488822!3d37.775148719811284!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8085809d14156ab1%3A0xb5adb8e220eedddd!2s54+Washburn+St%2C+San+Francisco%2C+CA+94103!5e0!3m2!1sen!2s!4v1518333800706", width="100%", height="300", frameborder="0", style="border:0", allowfullscreen)
          h3 LOCATION
          p 54 Washburn St
            br
            | San Francisco, CA 94103
            br
            a(href="https://www.google.com/maps?ll=37.775145,-122.414399&z=16&t=m&hl=en-US&gl=US&mapclient=embed&q=54+Washburn+St+San+Francisco,+CA+94103+USA", target="_blank")
              i.icon.map
              | View Map
              
          h3 DATE AND TIME
          p Wed, March 7 2018 
            br 
            | 6:30 PM – 9:00 PM PST
            br
            span(style="font-size:11px;") (Doors close promptly at 7pm)
            br
            a(href="/ics/Data4America.ics", target="_blank")
              i.icon.calendar
              | Add to Calendar
            
        h3.ui.top.attached.header Organizers
        div.ui.attached.segment.organizers
          h4.ui.header Data4America
          img.ui.fluid.image(src="https://data4america.org/img/logo-256.png", style="max-width:150px;")
          p Bridging data and conversations to advance the understanding of policy
          p A nonprofit, nonpartisan initiative made with 
            span(style="margin: 0em 0.4em 0em 0em;") 💙  
            | from 🇺🇸 
          p
            a(href="http://data4america.org/")
              i.globe.icon
              |  data4america.org
          p
            a(href="https://www.facebook.com/data4america/", target="_blank")
              i.facebook.icon
              |  facebook.com/data4america
          p
            a(href="https://twitter.com/data4america", target="_blank")
              i.twitter.icon
              |  twitter.com/data4america      

    div.text-center(style="margin-top:3em;")
      a.ui.blue.large.header.text-center(style='cursor:pointer;', href="/donate", target="_blank") Make a tax-deductible donation
