extends layout

block prepend title
  | #{ page.title + ' - '}

block metatags
  meta(property="og:title", content="Data4America | Donate")

block content
  div.ui.segment
    h1.ui.header.aligned.center Donate

    div.ui.divider

    article.page
      section.content
        div.body-text.donate-wrapper
