extends layout

block content
  div(style="max-width:700px; margin:0 auto;")
    div.dfa-donate.init(style="width:100%;")
      .dfa-crypto-mod(style='font-size: 0.9em;')
        h1(style='text-align:center;') Donate by Crypto
        h3(style='font-weight:normal;') To make donation in cryptocurrency, please follow the steps below.
        .list-wrapper
          p(style='text-align: left;')
            span.number 1
            span.text
              | Open your wallet app and scan the QR CODE or copy and paste the address.
              span
          .ui.horizontal.segments(style='border:none; box-shadow:none; background:none; margin: 0px 1.5em;')
            .ui.segment
              img.ui.small.image.centered(src='/img/d4a-btc-qr.png', style='margin-top: 1em;')
              p.ui.small.header.center.aligned(style='word-wrap: break-word; font-size: 0.85em;') 3ELXtUVUHmL71whkTrmSmBqNw6eAV2mKfe
            .ui.segment
              img.ui.small.image.centered(src='/img/d4a-eth-qr.png', style='margin-top: 1em;')
              p.ui.small.header.center.aligned(style='word-wrap: break-word; font-size:0.85em;') 0x803e42de525db0335a7ad008fb33ea1c2190525b
          p(style='text-align: left;')
            span.number 2
            span.text Make your donation.
          p(style='text-align: left;')
            span.number 3
            span.text
              | Once your transaction is complete, please forward your confirmation email to
              a(href='mailto:donations@data4america.org') donations@data4america.org
        p(style='text-align: center; margin-top: 3em;') We will provide a tax letter for your records.
        p(style='text-align: center; font-style: italic; font-size: 0.8em; margin-top: -1.5em;')
          | Because our board covers 100% of our costs, every donation goes where its needed most.
