extends layout

block content
  div(style="max-width:700px; margin:0 auto;")
    div.dfa-donate.init(style="width:100%;")
      .dfa-crypto-mod(style='font-size: 0.8em;')
        h1(style='text-align:center;') Donate by Crypto
        p To make donation in cryptocurrency, please follow the steps below.
        .list-wrapper
          p(style='text-align: left;')
            span.number 1
            span.text
              | Open your wallet app and scan the appropriate QR CODE.
              span
          .ui.horizontal.segments(style='border:none; box-shadow:none; background:none;')
            .ui.segment
              img.ui.small.image.centered(src='/img/bitcoin.png')
              img.ui.small.image.centered(src='/img/donate_bitcoin.png', style='margin-top: 1em;')
            .ui.segment
              img.ui.small.image.centered(src='/img/ethereum.png')
              img.ui.small.image.centered(src='/img/donate-ethereum.png', style='margin-top: 1em;')
          p(style='text-align: left;')
            span.number 2
            span.text Make your donation.
          p(style='text-align: left;')
            span.number 3
            span.text
              | Once your transaction is complete, please forward your confirmation email to
              a(href='mailto:donations@data4america.org') donations@data4america.org
        p(style='text-align: center;') We will provide a tax letter for your records.
        p(style='text-align: center;')
          | Because our board covers 100% of our costs, every donation goes where its needed most.
