extends layout

block content
  div(style="max-width:700px; margin:0 auto;")
    div.dfa-donate.init(style="width:100%;")
        .dfa-crypto-mod(style='font-size: 0.9em;')
          h1(style='text-align:center;') Donate by Crypto
          h3(style='font-weight:normal;') To make donation in cryptocurrency, please follow the steps below.
          .list-wrapper
            p(style='text-align: left;')
              span.number 1
              span.text
                | Open your wallet app and scan the QR CODE or copy and paste the address.
                span
            .ui.horizontal.segments(style='border:none; box-shadow:none; background:none; margin: 0px 0 0 1.5em;')
              .ui.segment
                img.ui.small.image.centered(src='/img/d4a-btc-qr.png', style='margin-top: 1em;')
                p.ui.small.header.center.aligned.address 3ELXtUVUHmL71whkTrmSmBqNw6eAV2mKfe
              .ui.segment
                img.ui.small.image.centered(src='/img/d4a-eth-qr.png', style='margin-top: 1em;')
                p.ui.small.header.center.aligned.address 0x803e42de525db0335a7ad008fb33ea1c2190525b
            p(style='text-align: left;')
              span.number 2
              span.text Make your donation by sending Bitcoin or Ethereum to our addresses above.
            p(style='text-align: left;')
              span.number 3
              span.text
                | Once your transaction is complete, send us any form of the following confirmation to:
                a(href='mailto:donations@data4america.org') donations@data4america.org
            ul(style='text-align: left; padding-left: 5em; margin-top: -1em; font-size: 0.8em;')
              li A screenshot of your transaction receipt
              li Etherscan URL
              li Bitcoin transaction URL
              li Any other visual proof of your transactions ent to our addresses
          p(style='text-align: center; margin-top: 3em;') We'll confirm receipt by email and then provide a tax letter for your records.
          p(style='text-align: left; font-size: 0.8em; margin-top: -0.5em;')
            | Crypto4America is a special project of Data4America, a 501(c)(3) public charity registered in the United States, EIN# 47-4629656. Donations to Crypto4America will be processed by and made tax deductible through Data4America. Contributions will be tax-deductible to the fullest extent of the law. Data4America will provide a formal acknowledgment letter containing tax-deduction language for your records
