extends layout

block prepend title
  | #{ page.title + ' - '}

block content
  div#dfa-events.ui.segments
    div.ui.segment.center.aligned
      h1.ui.header Events
    div.ui.segment.dfa-table
      table.ui.celled.table
        thead
          tr
            th Name
            th When
            th Where
        tbody
          tr
            td
              a(href="/event/fireside-chats-june-8-2016/", target="_blank") The Future of Encryption, Housing, and Regulation
            td(style="font-size:0.8em")
              | Wed, June 8
              br
              | 6:30-9:00pm (PDT)
            td(style="font-size:0.8em")
              strong RUNWAY 
              br
              | 1355 Market Street 
              br 
              | 4th Floor 
              br 
              | San Francisco, CA 94103
