extends layout

block prepend title
  | #{ page.title + ' - '}

block content
  div.ui.icon.menu.inverted.red.slide-controls.top.attached
    a.item.prev.disabled
      i.chevron.left.icon
    div.item.text Step 1 of 7
    a.item.next
      i.chevron.right.icon
    div.menu.right
      a.item
        i.icon.mail
      a.item
        i.icon.facebook
      a.item
        i.icon.twitter

  div.ui.segment.attached(style="min-height:400px; overflow:hidden;")
    div.dfa-slide
      h1.ui.header Request for Proposal
      div.ui.divider
      p Some text here

    div.dfa-slide
      h1.ui.header Environment Policy
      div.ui.divider
      p Data4America seeks a non-partisan and verified data tear down of the three big proposals about the environment: Cap and Trade vs. Carbon Tax vs. Do Nothing

    div.dfa-slide
      h1.ui.header How It Works
      div.ui.divider
      p Once approved, we'll work with you to transform your analysis into a user-generated app enabling our readers to input values about their own communities into the data model so they can produce their own user-generated data visualization/data model/etc.
      p Then, share on social media so civic discourse and understanding of the issues can involve more people.

    div.dfa-slide
      h1.ui.header Sample
      div.ui.divider
      p Example of a user-generated model: 
        a(href="/basic-income-basic-job/",target="_blank") A new social contract: Basic Income vs. Basic Jobs

    div.dfa-slide
      h1.ui.header Rewards
      div.ui.divider
      p Our approved content creator will receive a $5,000 stipend from Data4America, a Data4America tee-shirt, and membership into our Content Creator network on Slack.

    div.dfa-slide
      h1.ui.header How to Submit
      div.ui.divider
      div.ui.bulleted.list
        div.item(style="font-size: 1.2em; font-weight: 300; line-height: 1.6em;") Email your story along with your data visualization, data model, or infographic–to submit@data4america.org. Include the Github or other hosted link to download your underlying data set. Ensure it’s 100% sourced and 100% accurate as we’ll reject any story with non-authoritative original data sources.
        div.item(style="font-size: 1.2em; font-weight: 300; line-height: 1.6em;") Submit your application and/or data story through our GitHub: 
          a(href="http://git.data4america.org/", target="_blank") http://git.data4america.org/

  div.ui.segment.inverted.grey.attached.center.aligned(style="padding: 0.4em 0.5em; font-size: 0.9em;")
    | If approved by our Editorial Board, your submission will be published and promoted.

  div.ui.segment.inverted.bottom.attached.center.aligned(style="background: #002868; padding: 0.4em 0.5em;font-size: 0.9em;")
    a(href="https://mail.google.com/mail/?view=cm&fs=1&to=submit@data4america.org&su=NEW SUBMISSION:", target="_blank", style="color:white; font-weight:bold;") Submit a Story
    span.saperator ·
    a(href="https://mail.google.com/mail/?view=cm&fs=1&to=submit@data4america.org&su=QUESTION:", target="_blank", style="color:white; font-weight:bold;") Ask a Question
    span.saperator ·
    a(href="/sponsorship", target="_blank", style="color:white; font-weight:bold;") Fund this Story




