extends layout

block prepend title
  | #{ page.title + ' - '}

block content
  div.ui.segment
    h1.ui.header Request for Proposal
    div.ui.divider
    p Some text here

  div.ui.icon.three.item.menu.inverted.red.slide-controls
    a.item.prev.disabled
      i.chevron.left.icon 
      |  Back
    div.item.text Slide 1 of 7
    a.item.next
      | Next 
      i.chevron.right.icon

  div.ui.segment.dfa-slide
    h1.ui.header Environment Policy
    div.ui.divider
    p Data4America seeks a non-partisan and verified data tear down of the three big proposals about the environment: Cap and Trade vs. Carbon Tax vs. Do Nothing

  div.ui.segment.dfa-slide
    h1.ui.header How It Works
    div.ui.divider
    p Once approved, we'll work with you to transform your analysis into a user-generated app enabling our readers to input values about their own communities into the data model so they can produce their own user-generated data visualization/data model/etc.
    p Then, share on social media so civic discourse and understanding of the issues can involve more people.

  div.ui.segment.dfa-slide
    h1.ui.header Sample
    div.ui.divider
    p Example of a user-generated model: 
      a(href="/basic-income-basic-job/",target="_blank") A new social contract: Basic Income vs. Basic Jobs

  div.ui.segment.dfa-slide
    h1.ui.header Rewards
    div.ui.divider
    p Our approved content creator will receive a $5,000 stipend from Data4America, a Data4America tee-shirt, and membership into our Content Creator network on Slack.

  div.ui.segment.dfa-slide
    h1.ui.header How to Submit
    div.ui.divider
    div.ui.bulleted.list
      div.item(style="font-size: 1.2em; font-weight: 300; line-height: 1.6em;") Email your story along with your data visualization, data model, or infographic–to submit@data4america.org. Include the Github or other hosted link to download your underlying data set. Ensure it’s 100% sourced and 100% accurate as we’ll reject any story with non-authoritative original data sources.
      div.item(style="font-size: 1.2em; font-weight: 300; line-height: 1.6em;") Submit your application and/or data story through our GitHub: 
        a(href="http://git.data4america.org/", target="_blank") http://git.data4america.org/




