extends layout

block prepend title
  | #{ page.title + ' - '}

block content
  div.ui.icon.three.item.menu.inverted.red.slide-controls
    a.item.prev.disabled
      i.chevron.left.icon 
      |  Back
    div.item.text Slide 1 of 7
    a.item.next
      | Next 
      i.chevron.right.icon

  div.ui.segment.dfa-slide
    h1.ui.header Request for Propoal
    div.ui.divider
    p Some text here

  div.ui.segment.dfa-slide
    h1.ui.header Sector: Environment
    div.ui.divider
    p Data4America seeks a non-partisan and verified data tear down of the three big proposals about the environment: Cap and Trade vs. Carbon Tax vs. Do Nothing
    p Once approved, we'll work with you to transform your analysis into a user-generated app enabling our readers to input values about their own communities into the data model so they can produce their own user-generated data visualization/data model/etc.
    p Then, share on social media so civic discourse and understanding of the issues can involve more people.
    p Example of a user-generated model: 
      a(href="/basic-income-basic-job/",target="_blank") A new social contract: Basic Income vs. Basic Jobs

  div.ui.segment.dfa-slide
    h1.ui.header Rewards
    div.ui.divider
    p Our approved content creator will receive a $5,000 stipend from Data4America, a Data4America tee-shirt, and membership into our Content Creator network on Slack.




