extends layout

block sidebar
  div#dfa-sidebar.ui.very.wide.sidebar.vertical.menu

    div(style="position:relative;")
      div#dfa-sidebar-border
        div.dfa-sidebar-tap
          i.ui.icon.angle.double.up
          |  BACK

    div.item
      h1.ui.header.red
        img.ui.image(src="/assets/images/logo-256.png", style="width: 2.5em;")
        | Stories

    div.item.note
      All data stories have been reviewed and approved by the non-partisan Editorial Board
