extends layout

block prepend title
  | #{ page.title + ' - '}

block content
  div#dfa-data-page.ui.segments
    div.ui.segment.center.aligned
      h1.ui.header Submit A New Source
    div.ui.segment
      iframe(src="https://docs.google.com/forms/d/1xOK9aOTswAMNKgb7U9NdLJ62kQK3uMEvsnP3xUp7TzI/viewform?embedded=true", width="100%", height="1310", frameborder="0", marginheight="0", marginwidth="0")

