extends layout

block prepend title
  | #{ page.title + ' - '}

block content
  div#dfa-data-page.ui.segments
    div.ui.segment.center.aligned
      h1.ui.header Submit A New Dataset
    div.ui.segment
      iframe(src="https://docs.google.com/forms/d/1VTzbkvdS8zuJsBAyIJv4VpYvIGVYDA6fAm4_9L0xFbQ/viewform?embedded=true", width="100%", height="880", frameborder="0", marginheight="0", marginwidth="0")

