extends layout

block prepend title
  | #{ page.title + ' - '}

block content
  div#dfa-supporters.ui.segments
    div.ui.segment
      h1.ui.header.center.aligned How Data4America is Funded
      div.ui.divider
      p Just as America was built up by its founding mother's and fathers, Data4America is coming to life through donations from its founding supporters. 
        a.dfa-btn-donate(href="javascript:;") Become a donor
        | .

      p
        a(href="#learn-more") Learn more
        |  about our donors

    div.ui.horizontal.segments(style="background:#fff;")
      div.ui.segment(style="width:60%;")
        div.ui.items
          div.item
            div.image
              img(src="/img/avatars/george-washington.jpg")
            div.content
              div.header George Washington
              div.description $5,000,000
      div.ui.segment(style="width:40%;")
        div.ui.relaxed.divided.list

    div.ui.horizontal.segments(style="background:#fff;")
      div.ui.segment(style="width:60%;")
        div.ui.items
          div.item
            div.image
              img(src="/img/avatars/martha-washington.jpg")
            div.content
              div.header Martha Washington
              div.description ($1,000,000 - $4,999,999)
      div.ui.segment(style="width:40%;")
        div.ui.relaxed.divided.list

    div.ui.horizontal.segments(style="background:#fff;")
      div.ui.segment(style="width:60%;")
        div.ui.items
          div.item
            div.image
              img(src="/img/avatars/abigail-adams.jpg")
            div.content
              div.header Abigail Adams
              div.description ($500,000 - $999,999)
      div.ui.segment(style="width:40%;")
        div.ui.relaxed.divided.list

    div.ui.horizontal.segments(style="background:#fff;")
      div.ui.segment(style="width:60%;")
        div.ui.items
          div.item
            div.image
              img(src="/img/avatars/john-adams.jpg")
            div.content
              div.header John Adams
              div.description ($250,000 - $499,999)
      div.ui.segment(style="width:40%;")
        div.ui.relaxed.divided.list

    div.ui.horizontal.segments(style="background:#fff;")
      div.ui.segment(style="width:60%;")
        div.ui.items
          div.item
            div.image
              img(src="/img/avatars/thomas-jefferson.jpg")
            div.content
              div.header Thomas Jefferson
              div.description ($50,000 - $249,999)
      div.ui.segment(style="width:40%;")
        div.ui.relaxed.divided.list

    div.ui.horizontal.segments(style="background:#fff;")
      div.ui.segment(style="width:60%;")
        div.ui.items
          div.item
            div.image
              img(src="/img/avatars/benjamin-franklin.jpg")
            div.content
              div.header Benjamin Franklin
              div.description ($25,000 - $49,999)
      div.ui.segment(style="width:40%;")
        div.ui.relaxed.divided.list
          div.item
             div.content
               | Cyan Banister 
               a(href="https://twitter.com/cyantist", target="_blank")
                 i.ui.icon.twitter(style="color:#0084B4;")

    div.ui.horizontal.segments(style="background:#fff;")
      div.ui.segment(style="width:60%;")
        div.ui.items
          div.item
            div.image
              img(src="/img/avatars/deborah-read-franklin.jpg")
            div.content
              div.header Deborah Read Franklin
              div.description ($10,000 - $24,999)
      div.ui.segment(style="width:40%;")
        div.ui.relaxed.divided.list
          div.item
             div.content
               | Chris McCoy  
               a(href="http://twitter.com/chrisamccoy", target="_blank")
                 i.ui.icon.twitter(style="color:#0084B4;")
               | and Ciara Viehweg  
               a(href="https://www.linkedin.com/in/ciaraviehweg", target="_blank")
                 i.ui.icon.linkedin(style="color:#0077B5;")

    div.ui.horizontal.segments(style="background:#fff;")
      div.ui.segment(style="width:60%;")
        div.ui.items
          div.item
            div.image
              img(src="/img/avatars/mercy-otis-warren.jpg")
            div.content
              div.header Mercy Otis Warren
              div.description ($5,000 - $9,999)
      div.ui.segment(style="width:40%;")
        div.ui.relaxed.divided.list

    div.ui.horizontal.segments(style="background:#fff;")
      div.ui.segment(style="width:60%;")
        div.ui.items
          div.item
            div.image
              img(src="/img/avatars/james-madison.jpg")
            div.content
              div.header James Madison
              div.description ($1,000 - $4,999)
      div.ui.segment(style="width:40%;")
        div.ui.relaxed.divided.list
          div.item
            div.content
               | Lincoln Initiative 
               a(href="https://twitter.com/joinlincoln", target="_blank")
                 i.ui.icon.twitter(style="color:#0084B4;")

    div.ui.horizontal.segments(style="background:#fff;")
      div.ui.segment(style="width:60%;")
        div.ui.items
          div.item
            div.image
              img(src="/img/avatars/samuel-adams.jpg")
            div.content
              div.header Samuel Adams
              div.description ($500 - $999)
      div.ui.segment(style="width:40%;")
        div.ui.relaxed.divided.list
          div.item
             div.content
               | Sam Penrose and family 
               a(href="http://twitter.com/sampenrose", target="_blank")
                 i.ui.icon.twitter(style="color:#0084B4;")
               br
               | Craig and Cathy Viehweg

    div.ui.horizontal.segments(style="background:#fff;")
      div.ui.segment(style="width:60%;")
        div.ui.items
          div.item
            div.image
              img(src="/img/avatars/thomas-paine.jpg")
            div.content
              div.header Thomas Paine
              div.description ($100 - $499)
      div.ui.segment(style="width:40%;")
        div.ui.relaxed.divided.list
          div.item
             div.content
               | Caileens.com 
               a(href="http://caileens.com", target="_blank")
                 i.ui.icon.world
               br
               | Elm Audio 
               a(href="http://www.elmaudio.com", target="_blank")
                 i.ui.icon.world

    div.ui.horizontal.segments(style="background:#fff;")
      div.ui.segment(style="width:60%;")
        div.ui.items
          div.item
            div.image
              img(src="/img/avatars/patrick-henry.jpg")
            div.content
              div.header Patrick Henry
              div.description ($50 - $99)
      div.ui.segment(style="width:40%;")
        div.ui.relaxed.divided.list

    div.ui.horizontal.segments(style="background:#fff;")
      div.ui.segment(style="width:60%;")
        div.ui.items
          div.item
            div.image
              img(src="/img/avatars/alexander-hamilton.jpg")
            div.content
              div.header Alexander Hamilton
              div.description ($10 - $49)
      div#learn-more.ui.segment(style="width:40%;")
        div.ui.relaxed.divided.list
          div.item
             div.content
               | Ben Basche 
               a(href="https://twitter.com/basche42", target="_blank")
                 i.ui.icon.twitter(style="color:#0084B4;")

    div.ui.segment
      p Our donors and in-kind providers support 100% of our content, editorial, and event operations.
      p Our funders support us because they believe the same thing we do:
       br
       | 1/ There's too much noise in politics.
       br
       | 2/ Policy education powered by data science and data visualization can cut through the noise and make Americans smarter.
      p We're doing it with 
        a(href="http://lifemap.io",target="_blank") Lifemap
        | . We're doing it with 
        a(href="https://data4america.org/basic-income/ugp/",target="_blank") user-generated policy.
      p We maintain a strict firewall between editorial and funding. As a non-partisan group, the principle of 'ideas over politics' guides us.
      p We raised $45,000 in our founding season. Our second season fundraising goals are $250,000. 
      p We're actively looking for new donors and also to be invited to apply to foundation and philanthropic grants. 

      p For more information about supporting Data4America, including inviting us to apply to your grant, please email our 
        a(href="https://mail.google.com/mail/u/0/?view=cm&fs=1&to=chris@data4america.org&su=Interested in donating&tf=1",target="_blank") Executive Director Chris McCoy
        | .
      p You can also 
        a(href="/donate",target="_blank") Donate
        | .

      p(style="font-size:0.8em; color:#aaa;") Donations to Data4America will be processed by Silicon Valley Community Foundation, a 501(c)(3) public charity registered in the United States, EIN# 20-5205488. Contributions will be tax-deductible to the fullest extent of the law. SVCF will provide a formal acknowledgment letter containing tax-deduction language for your records.

