extends layout

block prepend title
  | #{ page.title + ' - '}

block content
  div#dfa-supporters.ui.segments
    div.ui.segment
      h1.ui.header How Data4America is Funded
      p Crowdsourced data science published by an expert editorial board is both innovative and important -- but it is not free.
      p Data4America is fortunate to enjoy the support from a growing group of around the world.
      p Our donors support our editorial board, our published content, data sets, and code bases. Also, the underlying technology powering it all. Donors also support our events and the small operating team managing Data4America from different parts of the U.S.
      p We maintain a strict firewall between editorial and funding--and expect to lose funding opportunities because of this. Our funders support us because they believe the same things we do: there is too much noise in media. Civic understanding is at all-time lows and it's causing low voter turnout. Non-partisan policy education powered by data science and data visualization can help solve it.
      p Here are our founding supporters. For more information about supporting Data4America, please email 
        a(href="https://mail.google.com/mail/u/0/?view=cm&fs=1&to=chris@data4america.org&su=Interested in donating&tf=1",target="_blank") Chris McCoy
        | .

    div.ui.horizontal.segments(style="background:#fff;")
      div.ui.segment(style="width:55%;")
        div.ui.items
          div.item
            div.image
              img(src="/img/avatars/george-washington.jpg")
            div.content
              div.header Geroge Washington
              div.description $5,000,000
      div.ui.segment(style="width:45%;")
        div.ui.relaxed.divided.list
          div.item
             div.content
               | Henry Baker
               i.ui.icon.facebook(style="color:#3B5998;")
               i.ui.icon.twitter(style="color:#0084B4;")
          div.item
             div.content
               | Marshall Evans
               i.ui.icon.facebook(style="color:#3B5998;")
               i.ui.icon.twitter(style="color:#0084B4;")
          div.item
             div.content
               | George White
               i.ui.icon.facebook(style="color:#3B5998;")
               i.ui.icon.twitter(style="color:#0084B4;")
          div.item
             div.content
               | Louis Joon
               i.ui.icon.facebook(style="color:#3B5998;")
               i.ui.icon.twitter(style="color:#0084B4;")
          div.item
             div.content
               | Madeleine Maddie Copp
               i.ui.icon.facebook(style="color:#3B5998;")
               i.ui.icon.twitter(style="color:#0084B4;")

    div.ui.horizontal.segments(style="background:#fff;")
      div.ui.segment(style="width:55%;")
        div.ui.items
          div.item
            div.image
              img(src="/img/avatars/martha-washington.jpg")
            div.content
              div.header Martha Washington
              div.description ($1,000,000 - $4,999,999)
      div.ui.segment(style="width:45%;")
        div.ui.relaxed.divided.list
          div.item
             div.content
               | Henry Baker
               i.ui.icon.facebook(style="color:#3B5998;")
               i.ui.icon.twitter(style="color:#0084B4;")
          div.item
             div.content
               | Marshall Evans
               i.ui.icon.facebook(style="color:#3B5998;")
               i.ui.icon.twitter(style="color:#0084B4;")

    div.ui.horizontal.segments(style="background:#fff;")
      div.ui.segment(style="width:55%;")
        div.ui.items
          div.item
            div.image
              img(src="/img/avatars/abigail-adams.jpg")
            div.content
              div.header Abigail Adams
              div.description ($500,000 - $999,999)
      div.ui.segment(style="width:45%;")
        div.ui.relaxed.divided.list
          div.item
             div.content
               | Henry Baker
               i.ui.icon.facebook(style="color:#3B5998;")
               i.ui.icon.twitter(style="color:#0084B4;")
          div.item
             div.content
               | Marshall Evans
               i.ui.icon.facebook(style="color:#3B5998;")
               i.ui.icon.twitter(style="color:#0084B4;")

    div.ui.horizontal.segments(style="background:#fff;")
      div.ui.segment(style="width:55%;")
        div.ui.items
          div.item
            div.image
              img(src="/img/avatars/john-adams.jpg")
            div.content
              div.header John Adams
              div.description ($250,000 - $499,999)
      div.ui.segment(style="width:45%;")
        div.ui.relaxed.divided.list
          div.item
             div.content
               | Henry Baker
               i.ui.icon.facebook(style="color:#3B5998;")
               i.ui.icon.twitter(style="color:#0084B4;")
          div.item
             div.content
               | Marshall Evans
               i.ui.icon.facebook(style="color:#3B5998;")
               i.ui.icon.twitter(style="color:#0084B4;")

    div.ui.horizontal.segments(style="background:#fff;")
      div.ui.segment(style="width:55%;")
        div.ui.items
          div.item
            div.image
              img(src="/img/avatars/thomas-jefferson.jpg")
            div.content
              div.header Thomas Jefferson
              div.description ($50,000 - $249,999)
      div.ui.segment(style="width:45%;")
        div.ui.relaxed.divided.list
          div.item
             div.content
               | Henry Baker
               i.ui.icon.facebook(style="color:#3B5998;")
               i.ui.icon.twitter(style="color:#0084B4;")
          div.item
             div.content
               | Marshall Evans
               i.ui.icon.facebook(style="color:#3B5998;")
               i.ui.icon.twitter(style="color:#0084B4;")

    div.ui.horizontal.segments(style="background:#fff;")
      div.ui.segment(style="width:55%;")
        div.ui.items
          div.item
            div.image
              img(src="/img/avatars/benjamin-franklin.jpg")
            div.content
              div.header Benjamin Franklin
              div.description ($25,000 - $49,999)
      div.ui.segment(style="width:45%;")
        div.ui.relaxed.divided.list
          div.item
             div.content
               | Henry Baker
               i.ui.icon.facebook(style="color:#3B5998;")
               i.ui.icon.twitter(style="color:#0084B4;")
          div.item
             div.content
               | Marshall Evans
               i.ui.icon.facebook(style="color:#3B5998;")
               i.ui.icon.twitter(style="color:#0084B4;")

    div.ui.horizontal.segments(style="background:#fff;")
      div.ui.segment(style="width:55%;")
        div.ui.items
          div.item
            div.image
              img(src="/img/avatars/deborah-read-franklin.jpg")
            div.content
              div.header Deborah Read Franklin
              div.description ($10,000 - $24,999)
      div.ui.segment(style="width:45%;")
        div.ui.relaxed.divided.list
          div.item
             div.content
               | Henry Baker
               i.ui.icon.facebook(style="color:#3B5998;")
               i.ui.icon.twitter(style="color:#0084B4;")
          div.item
             div.content
               | Marshall Evans
               i.ui.icon.facebook(style="color:#3B5998;")
               i.ui.icon.twitter(style="color:#0084B4;")

    div.ui.horizontal.segments(style="background:#fff;")
      div.ui.segment(style="width:55%;")
        div.ui.items
          div.item
            div.image
              img(src="/img/avatars/mercy-otis-warren.jpg")
            div.content
              div.header Mercy Otis Warren
              div.description ($5,000 - $9,999)
      div.ui.segment(style="width:45%;")
        div.ui.relaxed.divided.list
          div.item
             div.content
               | Henry Baker
               i.ui.icon.facebook(style="color:#3B5998;")
               i.ui.icon.twitter(style="color:#0084B4;")
          div.item
             div.content
               | Marshall Evans
               i.ui.icon.facebook(style="color:#3B5998;")
               i.ui.icon.twitter(style="color:#0084B4;")

    div.ui.horizontal.segments(style="background:#fff;")
      div.ui.segment(style="width:55%;")
        div.ui.items
          div.item
            div.image
              img(src="/img/avatars/james-madison.jpg")
            div.content
              div.header James Madison
              div.description ($1,000 - $4,999)
      div.ui.segment(style="width:45%;")
        div.ui.relaxed.divided.list
          div.item
             div.content
               | Henry Baker
               i.ui.icon.facebook(style="color:#3B5998;")
               i.ui.icon.twitter(style="color:#0084B4;")
          div.item
             div.content
               | Marshall Evans
               i.ui.icon.facebook(style="color:#3B5998;")
               i.ui.icon.twitter(style="color:#0084B4;")

    div.ui.horizontal.segments(style="background:#fff;")
      div.ui.segment(style="width:55%;")
        div.ui.items
          div.item
            div.image
              img(src="/img/avatars/samuel-adams.jpg")
            div.content
              div.header Samuel Adams
              div.description ($500 - $999)
      div.ui.segment(style="width:45%;")
        div.ui.relaxed.divided.list
          div.item
             div.content
               | Henry Baker
               i.ui.icon.facebook(style="color:#3B5998;")
               i.ui.icon.twitter(style="color:#0084B4;")
          div.item
             div.content
               | Marshall Evans
               i.ui.icon.facebook(style="color:#3B5998;")
               i.ui.icon.twitter(style="color:#0084B4;")

    div.ui.horizontal.segments(style="background:#fff;")
      div.ui.segment(style="width:55%;")
        div.ui.items
          div.item
            div.image
              img(src="/img/avatars/thomas-paine.jpg")
            div.content
              div.header Thomas Paine
              div.description ($100 - $499)
      div.ui.segment(style="width:45%;")
        div.ui.relaxed.divided.list
          div.item
             div.content
               | Henry Baker
               i.ui.icon.facebook(style="color:#3B5998;")
               i.ui.icon.twitter(style="color:#0084B4;")
          div.item
             div.content
               | Marshall Evans
               i.ui.icon.facebook(style="color:#3B5998;")
               i.ui.icon.twitter(style="color:#0084B4;")

    div.ui.horizontal.segments(style="background:#fff;")
      div.ui.segment(style="width:55%;")
        div.ui.items
          div.item
            div.image
              img(src="/img/avatars/patrick-henry.jpg")
            div.content
              div.header Patrick Henry
              div.description ($50 - $99)
      div.ui.segment(style="width:45%;")
        div.ui.relaxed.divided.list
          div.item
             div.content
               | Henry Baker
               i.ui.icon.facebook(style="color:#3B5998;")
               i.ui.icon.twitter(style="color:#0084B4;")
          div.item
             div.content
               | Marshall Evans
               i.ui.icon.facebook(style="color:#3B5998;")
               i.ui.icon.twitter(style="color:#0084B4;")

    div.ui.horizontal.segments(style="background:#fff;")
      div.ui.segment(style="width:55%;")
        div.ui.items
          div.item
            div.image
              img(src="/img/avatars/alexander-hamilton.jpg")
            div.content
              div.header Alexander Hamilton
              div.description ($10 - $49)
      div.ui.segment(style="width:45%;")
        div.ui.relaxed.divided.list
          div.item
             div.content
               | Henry Baker
               i.ui.icon.facebook(style="color:#3B5998;")
               i.ui.icon.twitter(style="color:#0084B4;")
          div.item
             div.content
               | Marshall Evans
               i.ui.icon.facebook(style="color:#3B5998;")
               i.ui.icon.twitter(style="color:#0084B4;")

