extends layout

block prepend title
  | #{ page.title + ' - '}

block content
  div.ui.segment
    h1.ui.aligned.center.header Syndicated Posts
    div.ui.divider
    img.ui.centered.medium.image(src="/img/huffington-post-logo.jpg", style="width:220px;")
    div.ui.divider
    div.ui.divided.items
      div.item
        div.ui.small.image
          img(src="http://lifemap.io/img/hillaryclinton.gif")
        div.middle.aligned.content
          a.header(href="http://www.huffingtonpost.com/entry/the-lifemap-of-hillary-clinton-by-data4america_us_57ba0a08e4b07d22cc38a2a2?", target="_blank", style="font-weight:bold;") Lifemap: The history of Hillary Clinton, in 100 characters or less
          div.meta
            i.world.icon
            |  huffingtonpost.com
          div.description Hillary Clinton made history by becoming the first woman to ever be a major American political party’s presidential nominee...
          div.extra
            a.ui.red.right.floated.button(href="http://www.huffingtonpost.com/entry/the-lifemap-of-hillary-clinton-by-data4america_us_57ba0a08e4b07d22cc38a2a2?", target="_blank") View Article
      div.item
        div.ui.small.image
          img(src="http://lifemap.io/img/berniesanders.gif")
        div.middle.aligned.content
          a.header(href="http://www.huffingtonpost.com/entry/lifemap-the-history-of-bernie-sanders-in-100-characters_us_579e9e6ce4b00e7e269fcd31", target="_blank", style="font-weight:bold;") Lifemap: The history of Bernie Sanders, in 100 characters or less
          div.meta
            i.world.icon
            |  huffingtonpost.com
          div.description A year ago, few mainstream Americans knew anything about Bernie Sanders. Even fewer expected him to run a formidable campaign for the Democratic Party’s ...
          div.extra
            a.ui.red.right.floated.button(href="http://www.huffingtonpost.com/entry/lifemap-the-history-of-bernie-sanders-in-100-characters_us_579e9e6ce4b00e7e269fcd31", target="_blank") View Article
      div.item
        div.ui.small.image
          img(src="http://lifemap.io/img/sherylsandberg.gif")
        div.middle.aligned.content
          a.header(href="http://www.huffingtonpost.com/entry/lifemap-sheryl-sandberg_us_57a572e4e4b0ccb023725e61?", target="_blank", style="font-weight:bold;") Lifemap: The history of Sheryl Sandberg, in 100 characters or less
          div.meta 
            i.world.icon
            |  huffingtonpost.com
          div.description Many Americans discovered Sheryl Sandberg when her book, Lean In: Women, Work, and the Will to Lead, became a national bestseller and started a...
          div.extra
            a.ui.red.right.floated.button(href="http://www.huffingtonpost.com/entry/lifemap-sheryl-sandberg_us_57a572e4e4b0ccb023725e61?", target="_blank") View Article
