extends layout

block prepend title
  | #{ page.title + ' - '}

block metatags
  meta(property="og:title", content="Data4America | Unplugged")

block content
  div
    div#dfa-unplugged-header
      h1.ui.header.center.aligned
        span.dfa-text DATA
          span.f 4
          | AMERICA
        span(style="font-weight:200;") Un
        span plugged
      p(style="text-align:center; font-size:1.2em;") A podcast exploring the intersection of government, technology, and the future.

    div#dfa-unplugged
      div.podcast(data-url="https://s3-us-west-2.amazonaws.com/media.data4america.org/2.Ramez+Naam2__finalbounce.mp3")
        a.image(href="/unplugged/episode-2-ramez-naam")
          img(src="/img/unplugged-rameez.jpg")

        h1.ui.header.title Unplugged: Ramez Naam
          a(href="https://twitter.com/ramez", target="_blank")
            i.ui.twitter.square.icon(style="color:#00ABF1; margin-right:0px; margin-left:5px;")
          a(href="https://www.linkedin.com/in/rameznaam", target="_blank")
            i.ui.linkedin.square.icon(style="margin-right:0px;")
          a(href="http://rameznaam.com/", target="_blank")
            i.ui.world.icon(style="margin-right:0px;")

        h3.ui.header.sub-title Session 1

        div.description <p> <span class="line">Winner of <a href="http://www.philipkdickaward.org/" target="_blank">@Phillip K Dick Award</a>, </span><span class="line">Author <a href="http://rameznaam.com/nexus//" target="_blank">@Nexus trilogy</a>, </span><span class="line">Author <a href="http://www.amazon.com/gp/product/161168255X/ref=as_li_tf_tl?ie=UTF8&amp;camp=1789&amp;creative=9325&amp;creativeASIN=161168255X&amp;linkCode=as2&amp;tag=infiniteresource-20" target="_blank">@The Infinite Resource: The Power of Ideas on a Finite Planet.</a>, </span><span class="line">Teacher <a href="http://singularityu.org/" target="_blank">@Singularity U.</a>, </span><span class="line">Energy innovation advocate</span></p><p><strong>Hosted by: </strong> Chris McCoy <a href="https://twitter.com/chrisamccoy" target="_blank"><i style="color:#00ABF1;" class="ui twitter square icon"></i></a><a href="https://www.linkedin.com/in/chrisamccoy" target="_blank"><i class="ui linkedin square icon"></i></a></p><p class="links hidden"><i style="color:#1DA1F2;" class="icon twitter"></i><a href="https://twitter.com/ramez" target="_blank">@ramez</a><span class="space">·</span><i class="icon grey mail"></i><a href="https://mail.google.com/mail/?view=cm&amp;fs=1&amp;to=mez@morethanhuman.org&amp;su=&amp;body=" target="_blank">mez@morethanhuman.org</a><br><i class="icon orange book"></i><a href="http://rameznaam.com/nexus/" target="_blank">Nexus Trilogy</a><span class="space">·</span><i class="icon orange book"></i><a href="http://www.amazon.com/Infinite-Resource-Power-Finite-Planet/dp/161168255X" target="_blank">The Infinite Resource: The Power of Ideas on a Finite Planet</a><br><i class="icon red bookmark"></i><a href="http://rameznaam.com/2015/07/15/citizens-can-lead-on-climate-change-in-wa-and-then-nationwide/" target="_blank">Citizens Led on Gay Marriage and Pot. We Can on Climate Change Too.</a></p><div class="more-link"><a href="javascript:;"><i class="chevron down icon"></i><span>More Details</span></a></div><p class="approved-by"><i class="red check icon"></i>Approved by the <span class="dfa-text">DATA<span class="f">4</span>AMERICA</span> editorial board on 04/25/16</p>

        div.embed
          iframe(width="100%", height="110", scrolling="no", frameborder="no", src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/265029163&amp;auto_play=false&amp;hide_related=false&amp;show_comments=false&amp;show_user=false&amp;show_reposts=false&amp;visual=false&amp;show_artwork=false&amp;color=CF1A1A")
        p(style="text-align: center;")
          a.play-on-d4a(href="javascript:;")
            span.play-on Play on
                span.dfa-text DATA
                  span.f 4
                  | AMERICA
          span.space!='&#183;'
          i.ui.blue.text.file.outline.icon
          a(href="/unplugged/episode-2-ramez-naam#transcript", target="_blank") Read Transcript

      div.podcast(data-url="https://s3-us-west-2.amazonaws.com/media.data4america.org/3.Michael+Gibson_2.mp3")
        a.image(href="/unplugged/episode-3-michael-gibson")
          img(src="/img/unplugged-michael.jpg")

        h1.ui.header.title Unplugged: Michael Gibson
          a(href="https://twitter.com/william_blake", target="_blank")
            i.ui.twitter.square.icon(style="color:#00ABF1; margin-right:0px; margin-left:5px;")
          a(href="http://www.forbes.com/sites/michaelgibson", target="_blank")
            i.ui.world.icon(style="margin-right:0px;")

        h3.ui.header.sub-title Session 2

        div.description <p> <span class="line">Co-founder and General Partner <a href="http://www.1517fund.com/" target="_blank">@1517 Fund</a>, </span><span class="line">former VP Grants <a href="http://www.thielfoundation.org/" target="_blank">@Thiel Foundation</a>, </span><span class="line">Oxford, </span><span class="line">writer <a href="https://www.technologyreview.com/" target="_blank">@MIT Technology Review</a>, </span><span class="line">poet-philosopher-VC</span></p><p><strong>Hosted by: </strong> Chris McCoy <a href="https://twitter.com/chrisamccoy" target="_blank"><i style="color:#00ABF1;" class="ui twitter square icon"></i></a><a href="https://www.linkedin.com/in/chrisamccoy" target="_blank"><i class="ui linkedin square icon"></i></a></p><p class="links hidden"><i style="color:#1DA1F2;" class="icon twitter"></i><a href="https://twitter.com/william_blake" target="_blank">@william_blake</a><span class="space">·</span><i class="icon grey mail"></i><a href="https://mail.google.com/mail/?view=cm&amp;fs=1&amp;to=michael@1517fund.com&amp;su=&amp;body=" target="_blank">michael@1517fund.com</a><span class="space">·</span><i class="icon red bookmark"></i><a href="http://www.forbes.com/sites/michaelgibson/#3f15ced663b9" target="_blank">Writings on Forbes</a></p> <div class="more-link"><a href="javascript:;"><i class="chevron down icon"></i><span>More Details</span></a></div>

        div.embed
          iframe(width="100%", height="110", scrolling="no", frameborder="no", src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/265030389&amp;auto_play=false&amp;hide_related=false&amp;show_comments=false&amp;show_user=false&amp;show_reposts=false&amp;visual=false&amp;show_artwork=false&amp;color=CF1A1A")
        p(style="text-align: center;")
          a.play-on-d4a(href="javascript:;")
            span.play-on Play on
                span.dfa-text DATA
                  span.f 4
                  | AMERICA
          span.space!='&#183;'
          i.ui.blue.text.file.outline.icon
          a(href="/unplugged/episode-3-michael-gibson#transcript", target="_blank") Read Transcript

      div.podcast(data-url="https://s3-us-west-2.amazonaws.com/media.data4america.org/Podcast1_GregFerenstein_finalMIX2.mp3")
        div.ui.fluid.orange.active.button PROTOTYPE

        a.image(href="/unplugged/episode-1-greg-ferenstein")
          img(src="/img/unplugged-gregferenstein.jpg", style="margin-top:15px;")

        h1.ui.header.title Unplugged: Greg Ferenstein
          a(href="https://twitter.com/ferenstein", target="_blank")
            i.ui.twitter.square.icon(style="color:#00ABF1; margin-right:0px; margin-left:5px;")
          a(href="https://www.linkedin.com/in/gregoryferenstein", target="_blank")
            i.ui.linkedin.square.icon(style="margin-right:0px;")
          a(href="https://medium.com/the-ferenstein-wire", target="_blank")
            i.ui.world.icon(style="margin-right:0px;")

        h3.ui.header.sub-title Session X

        div.description
          p
            span.line Editor
              a(href="https://medium.com/the-ferenstein-wire" target="_blank")@Ferenstein Wire
              | ,
            span.line Author of
              a(href="https://medium.com/the-ferenstein-wire/silicon-valley-s-political-endgame-summarized-1f395785f3c1?ref=producthunt#.qjsd7pxu0", target="_blank")@The Age Of Optimists</a>
              | ,
            span.line Former journalist
              a(href="http://techcrunch.com/" target="_blank")@TechCrunch

        p
          strong Hosted by:
          |  Chris McCoy
          a(href="https://twitter.com/chrisamccoy", target="_blank")
            i.ui.twitter.square.icon(style="color:#00ABF1;margin-left:5px")
          a(href="https://www.linkedin.com/in/chrisamccoy", target="_blank")
            i.ui.linkedin.square.icon

        p.links.hidden <i style="color:#1DA1F2;" class="icon twitter"></i><a href="https://twitter.com/ferenstein" target="_blank">@ferenstein</a><span class="space">·</span><i class="icon grey mail"></i><a href="https://mail.google.com/mail/?view=cm&amp;fs=1&amp;to=greg@gregferenstein.com&amp;su=&amp;body=" target="_blank">greg@gregferenstein.com</a><span class="space">·</span><i class="icon orange book"></i><a href="https://medium.com/the-ferenstein-wire/silicon-valley-s-political-endgame-summarized-1f395785f3c1?ref=producthunt#.qjsd7pxu0" target="_blank">Age of Optimists book: Early draft</a><br><i class="icon red bookmark"></i><a href="http://www.theatlantic.com/politics/archive/2013/02/former-political-scientist-to-congress-please-defund-political-science/273060/" target="_blank">Former Political Scientist to Congress: Please Defund Political Science</a></p> <div class="more-link"><a href="javascript:;"><i class="chevron down icon"></i><span>More Details</span></a></div>

        p(style="text-align: center;")
          a.play-on-d4a(href="javascript:;")
            span.play-on Play on
                span.dfa-text DATA
                  span.f 4
                  | AMERICA
          span.space!='&#183;'
          i.ui.blue.text.file.outline.icon
          a(href="/unplugged/episode-1-greg-ferenstein#transcript", target="_blank") Read Transcript

