extends layout

block prepend title
  | #{ page.title + ' - '}

block metatags
  meta(property="og:title", content="Data4America | Unplugged")

block content
  div.ui.segment(style="padding:0;")
    div#dfa-unplugged-header(style="background-color: #D9E7FF; padding: 2em 0;")
      h1.ui.header.center.aligned
        span.dfa-text DATA
          span.f 4
          | AMERICA
        |   
        span(style="font-weight:200;") Un
        span plugged
      p(style="text-align:center; font-size:1.2em;") A podcast exploring the intersection of government, technology, and the future.

    div#dfa-unplugged(style="margin:1em;")
      div.ui.divided.items
        div.item(data-url="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/247633336&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false")
          a.image.small(href="javascript:;")
            img(src="/img/unplugged-gregferenstein.jpg")
            i.icon.big.video.play
          div.content
            a.header(href="javascript:;") Greg Ferenstein
            div.meta
              span.cinema Episode #1
            div.description
              p Editor @Ferenstein Wire // Author of @The Age Of Optimists // Former journalist at TechCrunch // 
              p 
                i.icon.twitter(style="color:#1DA1F2;")
                | Twitter: 
                a(href="https://twitter.com/ferenstein", target="_blank") @fernstein
              p 
                i.icon.grey.mail
                | Email: 
                a(href="https://mail.google.com/mail/?view=cm&fs=1&to=greg@gregferenstein.com&su=&body=", target="_blank") greg at gregferenstein dot com
              p 
                i.icon.orange.book
                a(href="https://medium.com/the-ferenstein-wire/silicon-valley-s-political-endgame-summarized-1f395785f3c1?ref=producthunt#.qjsd7pxu0", target="_blank") Age of Optimists book: Early draft
              p 
                i.icon.red.bookmark
                | Article: 
                a(href="http://www.theatlantic.com/politics/archive/2013/02/former-political-scientist-to-congress-please-defund-political-science/273060/", target="_blank") Former Political Scientist to Congress: Please Defund Political Science 

