extends layout

block prepend title
  | #{ page.title + ' - '}

block metatags
  meta(property="og:title", content="Data4America | Unplugged")

block content
  div
    div#dfa-unplugged-header
      h1.ui.header.center.aligned
        span.dfa-text DATA
          span.f 4
          | AMERICA
        |   
        span(style="font-weight:200;") Un
        span plugged
      p(style="text-align:center; font-size:1.2em;") A podcast exploring the intersection of government, technology, and the future.

    div#dfa-unplugged
      div.podcast(data-url="https://s3-us-west-2.amazonaws.com/media.data4america.org/Podcast1_GregFerenstein_finalMIX2.mp3")
        a.image(href="/unplugged/episode-1-greg-ferenstein")
          img(src="/img/unplugged-gregferenstein.jpg")
        h1.ui.header.title Unplugged: Greg Ferenstein
        h3.ui.header.sub-title Session 1

        div.embed
          iframe(width="100%", height="110", scrolling="no", frameborder="no", src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/257528552&amp;auto_play=false&amp;hide_related=false&amp;show_comments=false&amp;show_user=false&amp;show_reposts=false&amp;visual=false&amp;show_artwork=false&amp;color=CF1A1A")
        p.links
          a.play-on-d4a(href="javascript:;")
            span.play-on Play on 
                span.dfa-text DATA
                  span.f 4
                  | AMERICA
          span.space!='&#183;'
          i.ui.blue.text.file.outline.icon
          a(href="/unplugged/episode-1-greg-ferenstein#transcript", target="_blank") Read Transcript

      div.podcast(data-url="https://s3-us-west-2.amazonaws.com/media.data4america.org/2.Ramez+Naam2__finalbounce.mp3")
        a.image(href="/unplugged/episode-2-ramez-naam")
          img(src="/img/unplugged-rameez.jpg")
        h1.ui.header.title Unplugged: Ramez Naam
        h3.ui.header.sub-title Session 2
        div.embed
          iframe(width="100%", height="110", scrolling="no", frameborder="no", src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/265029163&amp;auto_play=false&amp;hide_related=false&amp;show_comments=false&amp;show_user=false&amp;show_reposts=false&amp;visual=false&amp;show_artwork=false&amp;color=CF1A1A")
        p.links
          a.play-on-d4a(href="javascript:;")
            span.play-on Play on 
                span.dfa-text DATA
                  span.f 4
                  | AMERICA
          span.space!='&#183;'
          i.ui.blue.text.file.outline.icon
          a(href="/unplugged/episode-2-ramez-naam#transcript", target="_blank") Read Transcript

      div.podcast(data-url="https://s3-us-west-2.amazonaws.com/media.data4america.org/3.Michael+Gibson_2.mp3")
        a.image(href="/unplugged/episode-3-michael-gibson")
          img(src="/img/unplugged-michael.jpg")
        h1.ui.header.title Unplugged: Michael Gibson
        h3.ui.header.sub-title Session 3
        div.embed
          iframe(width="100%", height="110", scrolling="no", frameborder="no", src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/265030389&amp;auto_play=false&amp;hide_related=false&amp;show_comments=false&amp;show_user=false&amp;show_reposts=false&amp;visual=false&amp;show_artwork=false&amp;color=CF1A1A")
        p.links
          a.play-on-d4a(href="javascript:;")
            span.play-on Play on 
                span.dfa-text DATA
                  span.f 4
                  | AMERICA
          span.space!='&#183;'
          i.ui.blue.text.file.outline.icon
          a(href="/unplugged/episode-3-michael-gibson#transcript", target="_blank") Read Transcript
