extends layout

block prepend title
  | #{ page.title + ' - '}

block metatags
  meta(property="og:title", content="Data4America | Unplugged")

block content
  div.ui.segment(style="padding:0;")
    div(style="background-color: #D9E7FF; padding: 2em 0;")
      h1.ui.header.center.aligned
        span.dfa-text DATA
          span.f 4
          | AMERICA
        |   
        span(style="font-weight:200;") Un
        span plugged
      p(style="text-align:center; font-size:1.4em;") Audio stories from the subjects themselves.

    div#dfa-unplugged(style="margin:1em;")
      div.ui.divided.items
        div.item(data-url="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/247633336&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false")
          a.image.small(href="javascript:;")
            img(src="http://lifemap.io/img/unplugged-bencarson.jpg")
            i.icon.big.video.play
          div.content
            a.header(href="javascript:;") LifeMap Unplugged: Ben Carson
            div.meta
              span.cinema Episode #1
            div.description
              p Dr. Benjamin Carson joins Unplugged to discuss his take on Obamacare and the damage is will cause this country.

        div.item(data-url="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/247633336&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false")
          a.image.small(href="javascript:;")
            img(src="http://lifemap.io/img/unplugged-bencarson.jpg")
            i.icon.big.video.play
          div.content
            a.header(href="javascript:;") LifeMap Unplugged: Ben Carson
            div.meta
              span.cinema Episode #1
            div.description
              p Dr. Benjamin Carson joins Unplugged to discuss his take on Obamacare and the damage is will cause this country.

        div.item(data-url="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/247633336&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false")
          a.image.small(href="javascript:;")
            img(src="http://lifemap.io/img/unplugged-bencarson.jpg")
            i.icon.big.video.play
          div.content
            a.header(href="javascript:;") LifeMap Unplugged: Ben Carson
            div.meta
              span.cinema Episode #1
            div.description
              p Dr. Benjamin Carson joins Unplugged to discuss his take on Obamacare and the damage is will cause this country.

        div.item(data-url="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/247633336&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false")
          a.image.small(href="javascript:;")
            img(src="http://lifemap.io/img/unplugged-bencarson.jpg")
            i.icon.big.video.play
          div.content
            a.header(href="javascript:;") LifeMap Unplugged: Ben Carson
            div.meta
              span.cinema Episode #1
            div.description
              p Dr. Benjamin Carson joins Unplugged to discuss his take on Obamacare and the damage is will cause this country.

