extends layout

block prepend title
  | #{ page.title + ' - '}

block content
  div#dfa-updates.ui.grid.stackable
    div.four.wide.column
      div.ui.vertical.menu
        div.header.item By Date
        a.item(href="#august-2016") August 2016

    div.twelve.wide.column
      //div.ui.segment(style="padding:0;")
      //  img.ui.fluid.image(src="/img/email-updates.jpg")

      div.ui.segment
        h2#august-2016.ui.dividing.header
          a(href="/updates/august-2016/", target="_blank") Updates - August 2016
          span(style="float:right;")
            a(href="/updates/august-2016/", target="_blank")
              i.small.external.icon

        a.text(href="/updates/august-2016/", target="_blank")
          span 1/ We launched our Podcast called Unplugged. 

          span 2/ We turned LIVE into a podcast

          span 3/ All podcasts are fully transcribed. 

          span 4/ We’ve grown our team to 25+! 

          span 5/ Our Editorial Board published “One Job, One Dot: Every job in America, on a map”. 

          span We opened sourced the code, the data, and instructions for re-creation. 

          span 6/ Join our invite-only Content Network for an opportunity to get published by the Data4America Editorial Board. 

          span If published, we’ll syndicate you to our social media, through email, through Huffington Post, and more. 
  <script>document.addEventListener("DOMContentLoaded", function(event) { $('#dfa-cover').addClass('updates').find('img').attr('src', '/img/logo-updates.png'); });</script>
