extends layout

block prepend title
  | #{ page.title + ' - '}

block content
  article.dfa-article.article.big
    div.ui.items.article-header
      div.item
        div.content
          h1.article-title(style="text-align:center;") America couldn't be more polarized
          
    img.ui.centered.big.image(src="/img/america-votes-chart.png")
    
    div.article-content
      p Data4America is a team of Republicans, Democrats, Libertarians, and Independents who are committed to bringing non-partisan, across-the-aisle content to help the public understand government.
      p 
        strong You can help us create more content with a 
        a(href="/donate") donation.
