extends layout

block prepend title
  | #{ page.title + ' - '}

block content
  article.dfa-article.article.big
    div.ui.items.article-header
      div.item
        div.content
          h1.article-title(style="font-weight: 300; text-align: center; font-style: italic;") Why 
            span(style="font-weight:normal;") Data
              span(style="color:#cc0000;") 4
              | America
            | , why now
          //- h1.article-title(style="text-align:center;") America couldn't be more polarized
    
    div.article-content
      p Data4America is a made up of a team of Republicans, Democrats, Libertarians, and Independents committed to bridging data and conversations to advance the understanding of policy
      p Partisan bias is an all-time high.
      //- p 
      //-   strong You can help us create more content with a 
      //-   a(href="/donate") donation.
        
        
    img.ui.centered.big.image(src="/img/america-votes-chart.png")
